<include file="Common:header" />
	<script language=javascript>
	$(function(){

		function CheckSubmit(){
			if(document.form1.url.value==""){
				alert('栏目标题请控制在2个字节以上!');
				document.form1.url.focus();
				return false;
			}
			if(document.form1.title.value==""){
				alert('请输入栏目标题！');
				document.form1.title.focus();
				return false;
			}
		}
		var config = {
			'getNav' : "<{:U('getNav')}>"
		}
		$.ajaxSetup({
			dataFilter:function(res){
				return $.parseJSON(res);
				// return res;
			}
		})
		var Controller ={};
		Controller.showPid = function(element){
			$.post(config.getNav,{type:element.value},function(res){
				var html = [	'<tr bgcolor="#f5fbff" >',
									'<td width="50px" align="right">父节点</td>',
									'<td colspan="3">',
										'<select name="pid" id="pid">'
								].join('');
				var option = '<option value=0>无</option>';
				$(res).each(function(i,item){
					option += '<option value="'+item.id+'" >'+item.title+'</option>'; 
				})
				html = html + option + ['</select>','</td>','</tr>'].join('');
				$(element).parents('tr').next('tr').remove();
				$(element).parents('table').append(html);
			});
		}
		$('#type').on('change',function(){
			Controller.showPid(this);
		}).trigger('change');
	})
	</script>
<form method=post name="form1" action="" onSubmit="return CheckSubmit();">
	<table border="0" cellspacing="0" cellpadding="0" class="vbm">
		<tr bgcolor="#f5fbff" >
			<td width="50px" align="right">URL</td>
			<td colspan="3"><input name="url" id="url" type="text" class="text" value="" size="50"> <font color="red">*</font></td>
		</tr>
		<tr bgcolor="#f5fbff" >
			<td width="50px" align="right">标题</td>
			<td colspan="3"><input name="title" id="title" type="text" class="text" value="" size="50"> <font color="red">*</font></td>
		</tr>
		<tr bgcolor="#f5fbff" >
			<td width="50px" align="right">排序</td>
			<td colspan="3"><input name="sort" id="sort" type="text" class="text" value="500" size="50"> <font color="red">*</font></td>
		</tr>
		<tr bgcolor="#f5fbff" >
			<td width="50px" align="right">Type</td>
			<td colspan="3">
				<select name="type" id="type">
					<option value="顶部导航" selected="selected">顶部导航</option>
					<option value="底部导航">底部导航</option>
				</select>
			</td>
		</tr>
	</table>
	<center><input type="submit" value="提 交" style="float:left;margin-left:70px" class="sunjoin large"/><input type="button" style="float:left;margin-left:5px" onclick="history.back()" value="返 回" class="sunjoin large"></center>
</form>
<include file="Common:footer" />