<include file="Common:header" />
<div id="sunjoin">
	<div class="mpstopic-category">
        <div class="panel-tab">
            <ul class="clearfix tab-list">
                <li><a href="?type=0"<if condition="$type eq 0"> class="current"</if>>全部</a></li>
                <li><a href="?type=1"<if condition="$type eq 1"> class="current"</if>>顶部导航</a></li>
                <li><a href="?type=2"<if condition="$type eq 2"> class="current"</if>>底部导航</a></li>
            </ul>
        </div>
	</div>
<table border="0" cellspacing="0" cellpadding="0" class="vbm">
	<tbody>
		<tr class="firstr">
			<td width="60">ID</td>
			<td>URL</td>
			<td>标题</td>
			<!-- <td>condition</td> -->
			<td>Type</td>
			<td>排序</td>
			<td width='100'>操作</td>
		</tr>
	</tbody>
	<tbody>
		<volist name="list" id="vo">
		<tr bgcolor="white">
			<td align="left"><{$vo.id}></td>
			<td align="left"><{$vo.url}></td>
			<td align="left"><{$vo.title}></td>
			<!-- <td align="left"><{$vo.condition}></td> -->
			<td align="left"><{$vo.type}></td>
			<td align="left"><{$vo.sort}></td>
			<td align="center"><a href="<{:U('Nav/edit')}>?id=<{$vo.id}>">编辑</a> | <a href="<{:U('Nav/delete')}>?id=<{$vo.id}>" onclick='return confirm("确定删除吗？")'>删除</a></td>
		</tr>
		<if condition="$vo['_child'] neq ''">
		<volist name="vo['_child']" id="v">
			<tr bgcolor="white">
				<td align="left">&nbsp;&nbsp;<{$v.id}></td>
				<td align="left"><{$v.url}></td>
				<td align="left">----<{$v.title}></td>
				<!-- <td align="left"><{$vo.condition}></td> -->
				<td align="left"><{$v.type}></td>
				<td align="left"><{$v.sort}></td>
				<td align="center"><a href="<{:U('Nav/edit')}>?id=<{$v.id}>">编辑</a> | <a href="<{:U('Nav/delete')}>?id=<{$v.id}>" onclick='return confirm("确定删除吗？")'>删除</a></td>
			</tr>
		</volist>
		</if>
		</volist>
	</tbody>
</table>

</div>
<div class="pagination">
<{$page}>
</div>
<include file="Common:footer" />