<include file="Common:header" />
	<div class="ccc2">
		<ul>
	   <input class="sunjoin large" type="button" onClick="location.href='/admin/Club/addr'" value="发布文章">
		</ul>
	</div>
	<div id="sunjoin">
    <table border="0" cellspacing="0" cellpadding="0" class="vbm">
        <tbody><tr class="firstr">
          <td width="60">编号</td>
          <td>发起人</td>
          <td>关联药智新闻id</td>
          <td>操作</td>
        </tr>
      </tbody>
      <tbody>
      	<?php foreach ($list as $vo): ?>
    	<tr bgcolor="white">
    	  <td><label><?=$vo['id']?></label></td>
    	  <td align="left"><a href="/index/newsDetail/id/<?=$vo['id']?>.html" target="_blank"><?=$vo['title']?></a></td>
          <td align="left"><?=$vo['news_id']?></td>
    	  <td align="center"><a href="<{:U('editr')}>?id=<?=$vo['id']?>">编辑</a> / <a href="<{:U('deleter')}>?id=<?=$vo['id']?>" onclick="if(!confirm('确定要删除吗？\n\n此操作不可以恢复！'))return false;">删除</a>
    	  </td>
    	</tr>
    	<?php endforeach ?>
      </tbody>

    </table>
  </div>
	<div class="pagination">
	    <{$page}>
	</div>
<include file="Common:footer" />