*.pdf
*.PDF
*.doc
*.DOC
*.docx
*.ppt
*.zip
*.rar
*.gz
*.xls
*.docs
*.thumb
*.attach
*.cache
*.sess_*
*.mso
*.wmz
*.mht
*.db
*.config
*.swf
*.ico
*.hhc
*.txt
*.bk
*.pack
*.rtf
*.msi
*.xlsx
*.ods
*.xml
*.chw
*.bmp
*.url
*.asp
*.asa
*.lnk
*.tmp
*.sql
#过滤文件夹
Uploads/
Application/Runtime/
index.php
/nbproject/private/
nbproject/*
public/ueditor/php/*
public/ueditor/third-party/snapscreen/*