<include file="Common:header" />
    <script language="javascript" src="/public/js/vbm.js"></script>
    <script type='text/javascript' src='/public/js/calendar.js'></script>
    <form action="" method="get">
        <table border="0" cellspacing="0" cellpadding="0" class="vbm">
            <tr class="firstr">
                <td colspan="2">
                    搜索符合条件的管理员
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td style="background-color:#f1f5f8; width:40%">
                    用户名(username)
                </td>
                <td>
                    &nbsp;
                    <input name="username" class="text" value="<?php echo $_GET['username'];?>">
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td style="background-color:#f1f5f8; width:40%">
                    姓名(name)
                </td>
                <td>
                    &nbsp;
                    <input name="name" class="text" value="<?php echo $_GET['name'];?>">
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td style="background-color:#f1f5f8; width:40%">
                    所属用户组
                </td>
                <td>
                    &nbsp;
                    <select name="role_id">
                        <option value=''>
                            >不限组别
                        </option>
                        <foreach name='admin_role' item='vo'>
                        <option value="<{$vo['id']}>" <if condition="$vo[id] eq $admin_role_id">selected</if>>
                            <{$vo['name']}>
                        </option>
                        </foreach>
                    </select>
                </td>
            </tr>
        </table>
        <center>
            <input type="submit" value="提 交" class="sunjoin large" />
        </center>
        <div class="clear" style="margin-bottom:5px"></div>
    </form>
    <table border="0" cellspacing="0" cellpadding="0" class="vbm">
        <tr class="firstr">
            <td width="30">选择</td>
            <td width="30">编号</td>
            <td>用户名</td>
            <td width="150">用户组</td>
            <td>上次登陆IP</td>
            <td>登陆次数</td>
            <td>上次登录</td>
            <td width="60">操作</td>
        </tr>
        <tbody>
        	<foreach name="list" item="vo">
            <if condition="$vo['admin_role'][0]['id'] eq $_GET['admin_role_id'] || $_GET['admin_role_id'] == 0">
            <tr align="center" bgcolor="white">
                <td><input type='checkbox' name='id[]' value='<{$vo.uid}>' class='checkbox' id="<{$vo.uid}>"></td>
                <td><{$vo.id}></td>
                <td><a href="javascript:void(0);" onclick=" setbg('会员中心',400,110,'')"><{$vo.username}></a> [<{$vo.name}>]</td>
                <td><if condition='$vo.id eq 1'>超级管理员<else/><{$vo.role_name}></if></td>
                <td><a href="javascript:setbg('查看IP所在地',600,405,'http://ip.cn/index.php?ip=<{$vo.lastloginip}>')" title="点击查看上次登陆地"><{$vo.last_login_ip}></a></td>
                <td><?php echo $vo['login_count'];?></td>
                <td><?php echo date('Y-m-d H:i',$vo['last_login_time']);?></td>
                <td><if condition='$vo.id neq 1'><a href="edit?id=<{$vo.id}>">编辑</a> <if condition='$_SESSION[authId] eq 1'>/ <a href="foreverdelete?id=<{$vo.id}>" onClick="return confirm('您确定要删除该用户吗，如不确定请点取消')">删除</a></if></if></td>
            </tr>
            </if>
            </foreach>
        </tbody>
    </table>
<include file="Common:footer" />