<include file="Common:header" />
<div id="sunjoin">
<table border="0" cellspacing="0" cellpadding="0" class="vbm">
	<tbody>
		<tr class="firstr">
			<td width="60">id</td>
			<td>name</td>
			<td>title</td>
			<td>status</td>
			<td>remark</td>
			<td>sort</td>
			<td>pid</td>
			<td>level</td>
			<td width='100'>操作</td>
		</tr>
	</tbody>
	<tbody>
		<volist name="list" id="vo">
		<tr bgcolor="white">
			
			<td align="left"><a href="?pid=<{$vo.id}>"><{$vo.id}></a></td>
			<td align="left"><a href="?pid=<{$vo.id}>"><{$vo.name}></a></td>
			<td align="left"><a href="?pid=<{$vo.id}>"><{$vo.title}></a></td>
			<td align="left"><{$vo.status}></td>
			<td align="left"><{$vo.remark}></td>
			<td align="left"><{$vo.sort}></td>
			<td align="left"><{$vo.pid}></td>
			<td align="left"><{$vo.level}></td>

			<td align="center"><a href="<{:U('AdminNode/edit')}>?id=<{$vo.id}>">编辑</a> | <a href="<{:U('AdminNode/delete')}>?id=<{$vo.id}>" onclick='return confirm("确定删除吗？")'>删除</a></td>
		</tr>
		</volist>
		<tr>
            <td height="34" colspan="9" align="center" bgcolor="white">
                　<input type="button" onclick="history.back()" value="返 回" class="sunjoin large">    
            </td>
        </tr>
	</tbody>
</table>

</div>
<div class="pagination">
<{$page}>
</div>
<include file="Common:footer" />