<html>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf8'>
	<link rel="stylesheet" type="text/css" href="/public/css/menu.css" />
	<script type="text/javascript" src="/public/js/ShowLeft.js"></script>
	<script type="text/javascript" src="/public/js/mymps_noerr.js"></script>
	<script type="text/javascript">
	function sethighlight(n) {
		var lis = document.getElementsByTagName('a');
		for(var i = 0; i < lis.length; i++) {
			lis[i].className = '';
		}
		this.className = 'hover';
	}
	</script>
</head>
<body>
<div class="admin_menu"><a href="/" target="_blank" class="home">网站首页</a><a href="#" onClick="parent.location='/index.php/admin/'" id="admin">后台首页</a></div>
	<div id="my_menu" class="sunjoin">
		<foreach name="left_menus" item="vo" key='k'>
		<dl id="<{$vo.name}>"<if condition="$k gt 0"> style='display:none'</if>>
			<span class="wname"><{$vo.title}></span>
			<foreach name="vo._child" item="vo1">
			<div>
				
				<span><{$vo1.title}></span>
				<foreach name="vo1._child" item="vo2">
				<a href="javascript:void(0);" onClick="sethighlight();this.className='hover';parent.framRight.location='/admin/<{$vo1.name}>/<{$vo2.name}>';"  ><{$vo2.title}></a>
				</foreach>
				
			</div>
			</foreach>
		</dl>
		</foreach>
	</div>
</body>
</html>   