body {
color:#333;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
background-color:#f8f8f8;
margin:0;
padding:0;
overflow-y:auto;
overflow-x:hidden;
}

dl {
margin:0;
}

a {
color:#000;
}

a:hover {
color:red;
text-decoration:none;
}

div.sunjoin {
width:190px;
font-family:Arial, sans-serif;
font-size:12px;
color:#fff;
}

span.top a {
width:69px;
color:#333;
text-decoration:none;
display:block;
float:left;
text-indent:10px;
}

span.top a:hover {
width:69px;
color:#333;
text-decoration:none;
display:block;
float:left;
background:url(../images/3_05.jpg) repeat-x top left;
}

div.sunjoin div {
overflow:hidden;
margin-bottom:5px;
color:#333333;
}

.wname{
	color:#333;
	font-weight:bold;
	display:block;
	white-space:119px;
	height:23px;
	line-height:23px;
	border-bottom:1px #B7D3E1 solid;
	margin:10px 15px;
	text-align:left;
	text-indent:15px;
}


div.sunjoin div:first-child {
color:#333333;
}

div.sunjoin div.collapsed {
height:25px;
}

div.sunjoin div span {
font-weight:700;
color:#333;
background:url(../images/3_16.jpg) no-repeat 17px 6px;
cursor:pointer;
display:block;
padding:6px 25px 6px 35px;
}

div.sunjoin div.collapsed span {
background-image:url(../images/3_13.jpg);
}

div.sunjoin div a {
height:25px;
with:139px;
display:block;
line-height:25px;
text-indent:28px;
background:url(../images/3_19.jpg) no-repeat 23px 8px;
color:#666;
text-decoration:none;
padding-left:10px;
}

div.sunjoin div a:hover,div.sunjoin div a.hover {
background:url(../images/3_22.gif) no-repeat 23px 8px;
color:#fff;
background-color:#598dd2;
}
.admin_menu{height: 30px;
background: #D5E1F2}
.admin_menu a{display: block;
	width:85px;
	float: left;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	color: #666;
	text-indent: 25px;
	background:url(../images/icon_x.png) no-repeat 7px 7px;
}
.admin_menu a#admin{
	border-left:1px solid #f8f8f8;
	background: url(../images/icon_x.png) no-repeat 7px -20px;
}