<!doctype html>
<html>
<head>
<meta charset="utf-8">
<include file="common/top" />
<script>
  require([baseUrl+'/js/pages.js'],function(pages){
  });
</script>
<!--[if IE 6]> 
<script src="JS/IE6.js"></script>
<script>
	DD_belatedPNG.fix('a,li,h3,span,img,png,div,label,b,i');
</script>
<![endif]-->
</head>

<body>
<div class="main">
<!--top-->
    <include file="common/header" />
<!--banner-->
	<div class="banner2">
    	<img src="<{$banner}>">
    </div>
    <div class="w intr">
    	<div class="w1 int intss ">
        	 
            <foreach name="list" item="ls">
            <div class="me mes">
                <div class="me-imgs"><img src="<{$ls['pic_title']}>"></div>
                <div class="me-w me-ww">
                    <div class="me-x">
                        <h3><a href="<{:U('index/newsDetail',array('id'=>$ls['id']))}>" target="_blank"><{$ls['title']}></a><span class="me-w-span"><{:date('Y-m-d',$ls['create_time'])}></span></h3>
                        <P><{$ls['description']}></P>
                    </div>
                </div>
            </div>
            </foreach>
            <div class="quotes">
                <{$page}>
            </div>
        </div>
    </div>
     
<!--foot-->
	<include file="common/footer" />		
</div>
</body>
</html>
