<!doctype html>
<html>
<head>
<meta charset="utf-8">
<include file="common/top" />
<script>
  require([baseUrl+'/js/pages.js'],function(pages){
  });
</script>
</head>

<body>
<div class="main">
<!--top-->
  <include file="common/header" />

  <div class="w intr mt20">
    <div class="w1 int album-detail">
      <div class="info">
        <img class="img" src="<{$pic.smallpic}>">
        <div class="title">
          <span><{$pic.title}></span>
          <span class="small"><{$count}>张/<{$pic.time|date='Y-m-d',###}></span>
        </div>
        <div class="summary"><{$pic.content|htmlspecialchars_decode}></div>
      </div>
      <div class="gallery">
      <volist name="lists" id="vo" key="k">
        <?php
          if ($k==1) {
            echo '<a class="img first" data-lightbox="detail" href="'.$vo['picurl'].'"><img src="'.$vo['picurl'].'" alt=""></a>';
          }else{
            echo '<a class="img" data-lightbox="detail" href="'.$vo['picurl'].'"><img src="'.$vo['picurl'].'" alt=""></a>';
          }
        
          // echo '<a class="img" data-lightbox="detail" href="javascript:void(0)"></a>';
        ?>
      </volist>
      <?php
      for($i=0;$i<6-count($lists);$i++){
            echo '<a class="img" data-lightbox="detail" href="javascript:void(0)"></a>';
          }
      ?>
      </div>
      <div class="quotes">
          <{$page}>
      </div>
    </div>
  </div>
     
<!--foot-->
  <include file="common/footer" />  
</div>
</body>
</html>
