<!doctype html>
<html>
<head>
<meta charset="utf-8">
<include file="common/top" />
<script>
  require([baseUrl+'/js/pages.js'],function(pages){
  });
</script>
</head>

<body>
<div class="main">
<!--top-->
  <include file="common/header" />

  <div class="w intr mt20">
    <div class="w1 int album-detail">
      <div class="info">
        <img class="img" src="/public/home/images/album-detail.png">
        <div class="title">
          <span>药智精英俱乐部成立大会</span>
          <span class="small">14张/2015-09-01</span>
        </div>
        <div class="summary">7月29日，由药智精英俱乐部主办，万全中国、川渝合作（广安）医药产业圆、中国医药城协办的药智精英俱乐部成立大会在成都城市名人酒店隆重召开...</div>
      </div>
      <div class="gallery">
        <a class="img first" data-lightbox="detail" href="/public/home/images/album-detail.png"><img src="/public/home/images/album-detail.png" alt=""></a>
        <a class="img" data-lightbox="detail" href="/public/home/images/album-detail.png"><img src="/public/home/images/album-detail.png"></a>
        <a class="img" data-lightbox="detail" href="/public/home/images/album-detail.png"><img src="/public/home/images/album-detail.png"></a>
        <a class="img" data-lightbox="detail" href="/public/home/images/album-detail.png"><img src="/public/home/images/album-detail.png"></a>
        <a class="img" href="javascript:;"></a>
        <a class="img" href="javascript:;"></a>
      </div>
    </div>
  </div>
     
<!--foot-->
  <include file="common/footer" />  
</div>
</body>
</html>
