<!doctype html>
<html>
<head>
<meta charset="utf-8">
<include file="common/top" />
<script>
	AJAXURL={
		'submitUrl' : "<{:U('index/apy')}>"
	};
  require([baseUrl+'/js/pages.js','jquery'],function(pages,$){
    pages.apy();
  });
</script>
</head>

<body>
<div class="main">
<!--top-->
    <include file="common/header" />
<!--banner-->
   
  <div class="w intr attls">
    <div class="w1 int alss">
        <div class="al">
          <h2 class="al-sh2">成为俱乐部会员后您可以</h2>
          <div class="al-s">
            <span><i class="al-s-i1"></i>尊享私密会议</span>
            <span><i class="al-s-i2"></i>对话行业领袖</span>
            <span><i class="al-s-i3"></i>获取一手资讯</span>
            <span><i class="al-s-i4"></i>站位顶级圈层</span>
            <span><i class="al-s-i5"></i>猎获优质项目</span>
            <span><i class="al-s-i6"></i>嫁接资金支持</span>
          </div>
          <div class="dow">
            <h3>为您提供下载</h3>
            <a href="__HOME__/药智精英俱乐部（个人会员）入会申请表.doc" target="_blank">药智精英俱乐部（个人会员）入会申请表</a>
            <a href="__HOME__/药智精英俱乐部（团体会员）入会申请表.doc" target="_blank">药智精英俱乐部（企业会员）入会申请表</a>    
          </div>
        </div>
        <form class="attl" action="">
          <h2>入会申请</h2>
          <div class="submit">
            <h2>恭喜您,提交成功!</h2>
            <span>我们将在三个工作日内与您联系</span>
          </div>
          <div class="attl-button">
            <div class="bt">
              <i class="bt-i bt-i-name2"></i>
              <input class="input-c" name="name" value="" placeholder="姓名" required >
            </div>
          </div>
          <div class="attl-button">
            <div class="bt">
              <i class="bt-i bt-i-dwqc"></i>
              <input class="input-c" name="company" value="" placeholder="单位全称" required >
            </div>
          </div>
          <div class="attl-button">
            <div class="bt">
              <i class="bt-i bt-i-zw"></i>
              <input  name="position" value="" placeholder="职务" >
            </div>
          </div>
          <div class="attl-button">
            <div class="bt">
              <i class="bt-i bt-i-call"></i>
              <input  name="phone" value="" placeholder="联系电话" >
            </div>
          </div>
          <div class="attl-button">
            <button class="apply">立即申请</button>
          </div> 
        </form>
    </div>
  </div>
   
<!--foot-->
  <include file="common/footer" />    
</div>
</body>
</html>
