<!doctype html>
<html>
<head>
<meta charset="utf-8">
<include file="common/top" />
<script>
  require([baseUrl+'/js/pages.js'],function(pages){
  });
</script>
<!--[if IE 6]> 
<script src="JS/IE6.js"></script>
<script>
	DD_belatedPNG.fix('a,li,h3,span,img,png,div,label,b,i');
</script>
<![endif]-->
</head>

<body>
<div class="main">
<!--top-->
        <include file="common/header" />
<!--banner-->
	
    <div class="w intr us-bj">
    	<div class="w1 int intss ">	
            	<div class="intss-w">
                        <div class="intss-ws" style="line-height:1.42;">
                            <div class="us-o">
                                <span class="us-o-t">网址</span>
                                <span class="us-o-x"><a href="http://club.yaozh.com/" title="药智俱乐部">club.yaozh.com</a></span>
                            </div>
                            <div class="us-o">
                                <span class="us-o-t">联系人</span>
                                <span class="us-o-x"><{:getConfig('contact_name')}></span>
                            </div>
                            <div class="us-o">
                                <span class="us-o-t">手机</span>
                                <span class="us-o-x"><{:getConfig('contact_mobile')}></span>
                            </div>
                            <div class="us-o">
                                <span class="us-o-t">座机</span>
                                <span class="us-o-x"><{:getConfig('contact_tel')}></span>
                            </div>
                            <div class="us-o">
                                <span class="us-o-t">Email</span>
                                <span class="us-o-x"><{:getConfig('contact_email')}></span>
                            </div>
                        </div>
                </div>
        </div>
    </div>
     
<!--foot-->
	<include file="common/footer" />		
</div>
</body>
</html>
