<!doctype html>
<html>
<head>
<meta charset="utf-8">
<include file="common/top" />
<script>
	require([baseUrl+'/js/pages.js'],function(pages){
		pages.index();
	});
</script>
</head>
<body>
<div class="main">
<!--top-->
<include file="common/header" />
<!--banner-->
	<div class="banner">
		<foreach name="banner" item="bn">
      <a target="_blank" href="<{$bn['link']}>"><img src="<{$bn['pic']}>" ></a>
			
		</foreach>
	</div>
<!--Notification-->
  <div class="w">
    <div class="not w1">
      <div class="nots">
        <a href="<{:U('index/active')}>" class="nis ni-1"><i class="i"></i></a>
        <h2>俱乐部活动</h2>
        <div class="noe">
          <ul class="circle">
            <foreach name="last_active" item="la" key="key">
            <if condition="$key eq 0">
              <div class="first-item">
                <a class="text-overflow" href="<{:U('index/newsDetail',array('id'=>$la['id']))}>" title="<{$la['title']}>"><{$la['title']}></a>
                <p class="summary"><{$la['description']|mb_substr=###,0,36}> <a class="cl-blue" href="<{:U('index/newsDetail',array('id'=>$la['id']))}>">[详细]</a></p>
              </div>
            <elseif condition="$key lt 4" />
              <li><a href="<{:U('index/newsDetail',array('id'=>$la['id']))}>" title="<{$la['title']}>"><{$la['title']}></a></li>
            </if>
            </foreach>
          </ul>
          <!-- <p>
            <a href="/index/active.html">More</a>
          </p> -->
        </div>
      </div>
      <div class="nots nots2">
        <a href="<{:U('index/news')}>" class="nis ni-2"><i class="i"></i></a>
        <h2>俱乐部新闻</h2>
        <div class="noe">
          <ul class="circle">
            <foreach name="last_news" item="ln" key="key">
            <if condition="$key eq 0">
              <div class="first-item">
                <a class="text-overflow" href="<{:U('index/newsDetail',array('id'=>$ln['id']))}>" title="<{$ln['title']}>"><{$ln['title']}></a>
                <p class="summary"><{$ln['description']|mb_substr=###,0,36}> <a class="cl-blue" href="<{:U('index/newsDetail',array('id'=>$la['id']))}>">[详细]</a></p>
              </div>
            <elseif condition="$key lt 4" />
            	<li><a href="<{:U('index/newsDetail',array('id'=>$ln['id']))}>" title="<{$ln['title']}>"><{$ln['title']}></a></li>
            </if>
            </foreach>
          </ul>
        </div>
      </div>
      <div class="nots">
        <a href="<{:U('index/apply')}>" class="nis ni-3"><i class="i"></i></a>
        <h2>入会流程</h2>
        <div class="noe">
          <ul class="tc">
            <li><a href="<{:U('index/member')}>" target="_blank" title="俱乐部会员八项权益">俱乐部会员八项权益</a></li>
            <li><a href="<{:U('index/apply')}>" target="_blank" title="俱乐部入会流程">俱乐部入会流程</a></li>
            <li><a href="<{:U('index/apy')}>" target="_blank" title="俱乐部入会申请">俱乐部入会申请 <img src="__HOME__/images/hot.gif" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<!--Introduction-->
  <div class="w intr intrs" style="padding:20px 0;">
    <div class="w1 int p-p">
      <div class="p-left">
        <h1><span class="title" style="background:#f9f9fa;">俱乐部简介</span></h1>
        <h2>INTRODUCTION OF THE CLUB</h2>
        <div class="p-x">
          <p>药智精英俱乐部是由药智网和高圣生物医药发起组建，由大健康产业的专业技术精英及企业家、银行家组成的非营利性的服务组织,秉承“整合资源，发展事业，共创辉煌”之理念，定期或不定期向俱乐部成员提供：项目路演，学术研讨，政策解读，企业诊断，游学考试，案例分析，项目对接等活动。</p>
          <P>俱乐部为会员嫁接人脉资源，发挥“情义圈、智慧谷、资源库”的桥梁和纽带作用。俱乐部会员均为拥有大健康产业专业素养和丰富经验的圈层精英，
    致力于为促进资源共享、深化医疗卫生体制改革、推动行业发展、实现医药经济的整体腾飞而贡献力量。</P>
        </div>
      </div>
      <div class="p-img custom-animate1">
        <img class="placeimg" src="__HOME__/images/imgxx.png">
        <div class="panel">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
					<div class="label yellow" data-rotation="10" data-height="50">
						<div class="rec"></div>
						<div class="dot"></div>
					</div>
					<div class="label green" data-rotation="30" data-height="20">
						<div class="rec"></div>
						<div class="dot"></div>
					</div>
					<div class="label yellow" data-rotation="50" data-height="40">
						<div class="rec"></div>
						<div class="dot"></div>
					</div>
					<div class="label green" data-rotation="74" data-height="20">
						<div class="rec"></div>
						<div class="dot"></div>
					</div>
					<div class="label yellow" data-rotation="94" data-height="70">
						<div class="rec"></div>
						<div class="dot"></div>
					</div>
					<div class="label green" data-rotation="114" data-height="10">
						<div class="rec"></div>
						<div class="dot"></div>
					</div>
					<div class="label yellow" data-rotation="134" data-height="60">
						<div class="rec"></div>
						<div class="dot"></div>
					</div>
					<div class="label green" data-rotation="154" data-height="18">
						<div class="rec"></div>
						<div class="dot"></div>
					</div>
					<div class="label yellow" data-rotation="178" data-height="40">
						<div class="rec"></div>
						<div class="dot"></div>
					</div>
					<div class="label green" data-rotation="200" data-height="16">
						<div class="rec"></div>
						<div class="dot"></div>
					</div>
					<div class="label yellow" data-rotation="218" data-height="70">
						<div class="rec"></div>
						<div class="dot"></div>
					</div>
					<div class="label green" data-rotation="238" data-height="10">
						<div class="rec"></div>
						<div class="dot"></div>
					</div>
					<div class="label yellow" data-rotation="258" data-height="50">
						<div class="rec"></div>
						<div class="dot"></div>
					</div>
					<div class="label green" data-rotation="278" data-height="10">
						<div class="rec"></div>
						<div class="dot"></div>
					</div>
					<div class="label green" data-rotation="298" data-height="20">
						<div class="rec"></div>
						<div class="dot"></div>
					</div>
					<div class="label yellow" data-rotation="324" data-height="68">
						<div class="rec"></div>
						<div class="dot"></div>
					</div>
					<div class="label green" data-rotation="344" data-height="20">
						<div class="rec"></div>
						<div class="dot"></div>
					</div>

					<div class="text" style="left: 274px;top: 5px;">项目路演</div>
					<div class="text" style="left: 390px;top: 86px;">企业诊断</div>
					<div class="text" style="top: 220px;left: 440px;">案例分析</div>
					<div class="text" style="top: 390px;left: 430px;">精英沙龙</div>
					<div class="text" style="left: 220px;top: 460px;">资金对接</div>
					<div class="text" style="top: 380px;left: 60px;">学术研讨</div>
					<div class="text" style="left: 10px;top: 250px;">游学考察</div>
					<div class="text" style="left: 40px;top: 70px;">政策解读</div>
				
				</div>
			</div>
		</div>
	</div>
<!--Member-->
	<div class=" w mbr">
		<div class="w1 mb">
			<h1><span class="title">会员介绍</span><span class="en">MEMBER PROFILE</span></h1>
			<div class="mbs">
				<?php foreach ($users as $user): ?>
				<a href="/index/user/id/<{$user.id}>" target="_blank">
					<div class="mbs-x">
						<div class="img">
							<img src="<{$user.pic_title}>@1e_140w_140h_1c_0i_1o_90Q_1x.jpg">
						</div>
						<h3><{$user.name}></h3>
						<h4>（<{$user.duty}>）</h4>
						<div class="mbs-x-span ">
							<span><{$user.duty2}></span>
						</div>
					</div>
				</a>
				<?php endforeach ?>
			</div>
		</div>
	</div>
<!--foot-->
<include file="common/footer" />   
</div>
</body>
</html>
