<!doctype html>
<html>
<head>
<meta charset="utf-8">
<include file="common/top" />
<script>
  require([baseUrl+'/js/pages.js'],function(pages){
  });
</script>
</head>

<body>
<div class="main">
<!--top-->
        <include file="common/header" />
<!--banner-->
	<div class="banner2">
    	<img src="<{$banner}>">
    </div>
    <div class="w intr" id="hope">
    	<div class="w1 int intr-p">
        	<h1><span class="title">俱乐部愿景</span> <span class="en">CLUB VISION</span></h1>
          <ul class="circle-big fs14">
            <li>成为大健康产业领袖的精神家园</li>
            <li>成为大健康产业精英的成长摇篮</li>
            <li>成为中国大健康产业最具影响力的非营利机构之一</li>
          </ul>
        </div>
    </div>
     <div class="w intr">
    	<div class="w1 int intr-p">
        	<h1><span class="title">俱乐部宗旨</span> <span class="en">CLUB AIMS</span></h1>
          <ul class="circle-big fs14">
            <li>专业精进，合作共赢</li>
          </ul>
        </div>
    </div>
    
<!--Introduction-->
	<div class="w intr" id="introduction">
    	<div class="w1 int">
        	<h1><span class="title">俱乐部简介</span> <span class="en">CLUB PROFILE</span></h1>
            <p>药智精英俱乐部是由药智网和高圣生物医药发起组建，由大健康产业的专业技术精英及企业家、银行家组成的非营利性的服务组织。秉承“整合资源，发展事业，共创辉煌”之理念，定期或不定期向俱乐部成员提供：项目路演，学术研讨，政策解读，企业诊断，游学考试，案例分析，项目对接等活动。</p>
            <P>俱乐部为会员嫁接人脉资源，发挥“情义圈、智慧谷、资源库”的桥梁和纽带作用。俱乐部会员均为拥有大健康产业专业素养和丰富经验的圈层精英，
致力于为促进资源共享、深化医疗卫生体制改革、推动行业发展、实现医药经济的整体腾飞而贡献力量。</P>
        </div>
    </div>
    
    <div class="w intr" id="structure">
    	<div class="w1 int intr-p">
        	<h1><span class="title">组织架构图</span> <span class="en">ORGANIZATION CHART</span></h1>
            <p class="zzjg"><img src="__HOME__/images/img_lct.jpg"></p>
        </div>
    </div>
<!--Member-->
	<div class=" w mbr">
        <div class="w1 mb">
          <h1><span class="title">会员介绍</span> <span class="en">MEMBER PROFILE</span></h1>
          <div class="mbs">
            <?php foreach ($users as $user): ?>
              <a href="/index/user/id/<{$user.id}>" target="_blank">
                <div class="mbs-x">
                  <div class="img">
                    <img src="<{$user.pic_title}>@1e_140w_140h_1c_0i_1o_90Q_1x.jpg">
                  </div>
                  <h3><{$user.name}></h3>
                  <h4>（<{$user.duty}>）</h4>
                  <div class="mbs-x-span ">
                    <span><{$user.duty2}></span>
                  </div>
                </div>
              </a>
              <?php endforeach ?>
          </div>
        </div>
      </div>
<!--foot-->
	<include file="common/footer"/>	
</div>
</body>
</html>
