<!doctype html>
<html>
<head>
<meta charset="utf-8">
<include file="common/top" />
<script>
  require([baseUrl+'/js/pages.js'],function(pages){
  });
</script>
<!--[if IE 6]> 
<script src="JS/IE6.js"></script>
<script>
	DD_belatedPNG.fix('a,li,h3,span,img,png,div,label,b,i');
</script>
<![endif]-->
</head>

<body>
<div class="main">
<!--top-->
        <include file="common/header" />
<!--banner-->
	<div class="banner2">
    	<img src="<{$banner}>">
    </div>
    <div class="w intr">
    	<div class="w1 int ">
        	<h1>会员权利<span>MEMBER RIGHTS</span></h1>
            <div class="pp-p">
                <p>成为药智精英俱乐部会员，尊享以下八项会员权利。</p>
                <P>俱乐部秉承“整合资源，发展事业，共创辉煌”之理念，定期或不定期向俱乐部成员提供：项目路演，学术研讨，政策解读，企业诊断，游学考试，案例分析，项目对接等活动，为会员嫁接人脉、资金与项目、知识等资源。</P>
            </div>
            <div class="me me-o">
            	<div class="me-img"><img src="__HOME__/images/icon2.png"></div>
                <div class="me-w">
                	<h3>项目路演</h3>
                    <P>定期邀请投资机构及优秀项目的企业针对自己的企业产品、发展的规划、融资计划进行项目路演分享。</P>
                </div>
            </div>
            <div class="me me-o">
            	<div class="me-img"><img src="__HOME__/images/icon3.png"></div>
                <div class="me-w">
                	<h3>案例分析</h3>
                    <P>邀请知名专家、学者，评论分享医药行业时事，以及对企业营销、经营案例进行研讨；实现与医药企业管理实践者和资深行业顾问的对话与研讨。</P>
                </div>
            </div>
            <div class="me me-o">
            	<div class="me-img"><img src="__HOME__/images/icon4.png"></div>
                <div class="me-w">
                	<h3>精英沙龙</h3>
                    <P>定期为会员组织沟通思想、分析快乐和成长心得的活动，旨在为会员提供一个轻松、愉快、非正式的互动及社交平台</P>
                </div>
            </div>
            <div class="me me-o">
            	<div class="me-img"><img src="__HOME__/images/icon5.png"></div>
                <div class="me-w">
                	<h3>学术研讨</h3>
                    <P>私密圈内前沿学术资讯、权威数据报告实时分享。邀请知名学术专家、精英学者，评论科研新动态，研讨学术风向标，以达到促进会员学术交流的，增长专业能力的目的。</P>
                </div>
            </div>
            <div class="me me-o">
            	<div class="me-img"><img src="__HOME__/images/icon6.png"></div>
                <div class="me-w">
                	<h3>游学考察</h3>
                    <P>俱乐部致力于为会员构建终身学习的平台，由理事领队，每年招募俱乐部学员前往优秀典型企业、机构访问考察，通过在顶级商学院学习最前瞻的课程，共同剖析经典案例以及与知名智库、机构和专家学者的深度互动，帮助企业高级管理者更新系统知识，丰富视野，建立商业资源。</P>
                </div>
            </div>
            <div class="me me-o">
            	<div class="me-img"><img src="__HOME__/images/icon7.png"></div>
                <div class="me-w">
                	<h3>政策解读</h3>
                    <P>精英聚首，共论医药行业政策晴雨。定期邀请国内权威专家，针对医药行业的最新政策动向进行剖析解读，让会员能实时把握政策脉搏，理智判断、正确选择。</P>
                </div>
            </div>
            <div class="me me-o">
            	<div class="me-img"><img src="__HOME__/images/icon8.png"></div>
                <div class="me-w">
                	<h3>企业诊断</h3>
                    <P>针对会员企业定期或不定期召集具有丰富经营理论知识和实践经验的专家，对企业管理状况、经营状况和财务状况进行全面分析，发现存在的问题，并对问题深入研究，找到企业经营战略和经营管理问题背后的原因，从各个层面提供改进或解决建议。</P>
                </div>
            </div>
            <div class="me me-o">
            	<div class="me-img"><img src="__HOME__/images/icon9.png"></div>
                <div class="me-w">
                	<h3>资金对接</h3>
                    <P>为会员优秀项目寻找商业合作伙伴，嫁接金融资源，对接项目资金支持。</P>
                </div>
            </div>
        </div>
    </div>
     
<!--foot-->
	<include file="common/footer" />	
</div>
</body>
</html>
