<!doctype html>
<html>
<head>
<meta charset="utf-8">
<include file="common/top" />
<script>
  require([baseUrl+'/js/pages.js'],function(pages){
    pages.share();
  });
</script>
<!--[if IE 6]> 
<script src="JS/IE6.js"></script>
<script>
	DD_belatedPNG.fix('a,li,h3,span,img,png,div,label,b,i');
</script>
<![endif]-->
</head>

<body>
<div class="main">
<!--top-->
    <include file="common/header" />
<!--banner-->
	<div class="banner2">
    	<img src="<{$banner}>">
    </div>
    <div class="w intr">
    	<div class="w1 int intss ">
        	<div class="map"><a href="club.html">首页</a>><a href="club-news.html" >新闻</a>><span><{$detail['title']}></span></div>
            <div class="detail">
            	<h1><{$detail['title']}></h1>
                <h2>作者：<{$detail['author']}>　|　时间：<{:date('Y-m-d',$detail['create_time'])}> |　来自:<{$detail['refer_url']}><span class="de-span">分享到：
                <a class="de1" href="javascript:;" title="新浪微博"></a><a class="de2" href="javascript:;" title="微信"></a><a class="de3" href="javascript:;" title="腾讯微博"></a><a class="de4" href="javascript:;" title="人人网"></a></span></h2> 
                <div class="de-p">
                    <{$detail['content']}>
                </div>
            </div>
            
        </div>
    </div>
     
<!--foot-->
	<include file="common/footer" />		
</div>
</body>
</html>
