<!doctype html>
<html>
<head>
<meta charset="utf-8">
<include file="common/top" />
<script>
  require([baseUrl+'/js/pages.js'],function(pages){
  pages.share();
  });
</script>
</head>

<body>
<div class="main">
<!--top-->
  <include file="common/header" />
<!--banner-->
  <div class="banner2">
    <img src="<{$banner}>">
  </div>
  <div class="w intr">
    <div class="w1 int intss ">
      <div class="map"><a href="club.html">首页</a>>新闻><span><{$detail['title']}></span></div>
      <div class="detail" style="width:auto;float:initial;">
        <h1><{$detail['title']}></h1>
        <h2>作者：<{$detail['author']}>　|　时间：<{:date('Y-m-d',$detail['create_time'])}> |　来自:<{$detail['refer_url']}><span class="de-span">分享到：
        <a class="de1" href="javascript:;" title="新浪微博"></a><a class="de2" href="javascript:;" title="微信"></a><a class="de3" href="javascript:;" title="腾讯微博"></a><a class="de4" href="javascript:;" title="人人网"></a></span></h2> 
        <div class="de-p">
          <{$detail['content']|htmlspecialchars_decode}>
        </div>
      </div>
      <!-- 
      <div class="sidebar">
        <div class="ui-panel mt20">
          <div class="ui-panel-title">
            <span class="ui-panel-name">视频</span>
          </div>
          <div class="ui-panel-content tc">
            <div class=""><a href="#"><img src="/public/home/images/news_deatil_test_03.jpg" alt=""></a></div>
            <p class="cl-blue tc"><a href="#">CMEH 2015第十六届中国（上海）国际医疗器械展览会</a></p>
          </div>
        </div>
        <div class="ui-panel mt20">
          <div class="ui-panel-title">
            <span class="ui-panel-name">标题</span>
            <div class="ui-panel-side">
              <a href="#">更多</a>
            </div>
          </div>
          <div class="ui-panel-content">
            <ul class="square">
              <li><a href="#">俱乐部2015年度理事大会在重庆召开</a></li>
              <li><a href="#">俱乐部2015年度理事大会在重庆召开</a></li>
              <li><a href="#">俱乐部2015年度理事大会在重庆召开</a></li>
              <li><a href="#">俱乐部2015年度理事大会在重庆召开</a></li>
              <li><a href="#">俱乐部2015年度理事大会在重庆召开</a></li>
              <li><a href="#">俱乐部2015年度理事大会在重庆召开</a></li>
            </ul>
          </div>
        </div>
      </div> 
      -->
      <div class="clear"></div>
    </div>
  </div>
   
<!--foot-->
  <include file="common/footer" />    
</div>
</body>
</html>
