<!doctype html>
<html>
<head>
<meta charset="utf-8">
<include file="common/top" />
<script>
  require([baseUrl+'/js/pages.js'],function(pages){
  });
</script>
</head>

<body>
<div class="main">
<!--top-->
  <include file="common/header" />
<!--banner-->
  <div class="banner2">
    <img src="<{$banner}>">
  </div>

  <div class="w ">
    <div class="w1">
      <div class="map">
        <a href="/index/index.html">首页</a>&gt;<a href="#">俱乐部成员</a>&gt;<span>于明德</span>
      </div>
      <div class="jiesao-main">
        <div class="top-box">
          <a href="#" class="img">
            <span class="text">
              <span>于明德</span>
              <span class="ml20">药智俱乐部名誉会长</span>
            </span>
            <img src="/public/home/images/jiesao_01.jpg" alt="">
          </a>
          <div class="summary">
            <p class="fs18">会员介绍</p>
            <p class="indent mt10">于明德,中国医药企业管理协会、中国医药企业家协会会长。长期从事药品生产、流通管理工作。曾任辽宁省阜新制药厂、中药厂技术科长、厂长；阜新市医药总公司总经理、市医药管理局局长；辽宁省医药管理局副局长、局长；国家医药管理局财务与流通司司长；国家经济贸易委员会医药司司长、经济运行局副局长；国家发展与改革委员会经济运行局副局长；现任北京医药集团公司名誉董事长；医药经济报首席专家；国家发展改革委员会生物医药专家委员会副主任；国家科技部国家重大专项专家委员会专家。</p>
            <p class="tr mt20"><a href="#" class="yuedu-btn">阅读全文</a></p>
          </div>
        </div>
        <div class="bottom-box">
          <div class="left-box">
            <div class="ui-panel">
              <div class="ui-panel-title">
                <span class="ui-panel-name"><i class="jieshao_icon icon1"></i>他的风采</span>
              </div>
              <div class="ui-panel-content">
                <div class="img-list">
                  <a href="/public/home/images/jiesao_02.jpg" data-lightbox="fengcai" class="img"><img src="/public/home/images/jiesao_02.jpg" alt=""></a>
                  <a href="/public/home/images/jiesao_02.jpg" data-lightbox="fengcai" class="img"><img src="/public/home/images/jiesao_02.jpg" alt=""></a>
                  <a href="/public/home/images/jiesao_02.jpg" data-lightbox="fengcai" class="img"><img src="/public/home/images/jiesao_02.jpg" alt=""></a>
                  <a href="/public/home/images/jiesao_02.jpg" data-lightbox="fengcai" class="img"><img src="/public/home/images/jiesao_02.jpg" alt=""></a>
                  <a href="/public/home/images/jiesao_02.jpg" data-lightbox="fengcai" class="img"><img src="/public/home/images/jiesao_02.jpg" alt=""></a>
                </div>
              </div>
            </div>
            <div class="clearfix mt20">
              <div class="fl w350 ui-panel">
                <div class="ui-panel-title">
                  <span class="ui-panel-name"><i class="jieshao_icon icon3"></i>他的语录</span>
                </div>
                <div class="ui-panel-content">
                  <ul class="yvlu-list">
                    <li>
                      <p>
                        <i class="mark">“</i>
                        <span class="text">药智精英俱乐部是由药智网和高圣生物医药发起组建，由大健康产业的专业技术精英及企业家、银行家组成的非营利性的服务组织。</span>
                        <i class="mark">”</i>
                      </p>
                      <p class="tr">——于明德</p>
                    </li>
                    <li>
                      <p>
                        <i class="mark">“</i>
                        <span class="text">药智精英俱乐部是由药智网和高圣生物医药发起组建，由大健康产业的专业技术精英及企业家、银行家组成的非营利性的服务组织。</span>
                        <i class="mark">”</i>
                      </p>
                      <p class="tr">——于明德</p>
                    </li>
                    <li>
                      <p>
                        <i class="mark">“</i>
                        <span class="text">药智精英俱乐部是由药智网和高圣生物医药发起组建，由大健康产业的专业技术精英及企业家、银行家组成的非营利性的服务组织。</span>
                        <i class="mark">”</i>
                      </p>
                      <p class="tr">——于明德</p>
                    </li>
                    <li>
                      <p>
                        <i class="mark">“</i>
                        <span class="text">药智精英俱乐部是由药智网和高圣生物医药发起组建，由大健康产业的专业技术精英及企业家、银行家组成的非营利性的服务组织。</span>
                        <i class="mark">”</i>
                      </p>
                      <p class="tr">——于明德</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="fl w450 ml20 ui-panel">
                <div class="ui-panel-title">
                  <span class="ui-panel-name">他的动态</span>
                </div>
                <div class="ui-panel-content">
                  <ul class="news-list square">
                    <div class="first">
                      <p class="title"><a href="#" target="_blank">于明德：2015年医药营销实战解析</a></p>
                      <p class="summary">药智精英俱乐部是由药智网和高圣生物医药发起组建项目路演······ 
                        <a class="cl-blue" target="_blank" href="#">[详细]</a>
                      </p>
                    </div>
                    <li><a href="#" target="_blank">于明德：2015年医药营销实战解析</a></li>
                    <li><a href="#" target="_blank">于明德：2015年医药营销实战解析</a></li>
                    <li><a href="#" target="_blank">于明德：2015年医药营销实战解析</a></li>
                    <li><a href="#" target="_blank">于明德：2015年医药营销实战解析</a></li>
                  </ul>
                </div>
              </div>
              <div class="fl w450 ml20 mt20 ui-panel">
                <div class="ui-panel-title">
                  <span class="ui-panel-name">他的报道</span>
                </div>
                <div class="ui-panel-content">
                  <ul class="news-list square">
                    <div class="first">
                      <p class="title"><a href="#" target="_blank">于明德：2015年医药营销实战解析</a></p>
                      <p class="summary">药智精英俱乐部是由药智网和高圣生物医药发起组建项目路演······ 
                        <a class="cl-blue" target="_blank" href="#">[详细]</a>
                      </p>
                    </div>
                    <li><a href="#" target="_blank">于明德：2015年医药营销实战解析</a></li>
                    <li><a href="#" target="_blank">于明德：2015年医药营销实战解析</a></li>
                    <li><a href="#" target="_blank">于明德：2015年医药营销实战解析</a></li>
                    <li><a href="#" target="_blank">于明德：2015年医药营销实战解析</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="ui-panel right-box">
            <div class="ui-panel-title">
              <span class="ui-panel-name"><i class="jieshao_icon icon2"></i>他的公司</span>
            </div>
            <div class="ui-panel-content">
              <a href="#" class="company-img"><img src="/public/home/images/jiesao_03.jpg" alt=""></a>
              <div class="mt20 fs16">公司简介</div>
              <p class="indent mt20">于明德中国医药企业管理协会、中国医药企业家协会会长。长期从事药品生产、流通管理工作。曾任辽宁省阜新制药厂、中药厂技术科长、厂长；阜新市医药总公司总经理、市医药管理局局长；辽宁省医药管理局副局长、局长；国家医药管理局财务与流通司司长；国家经济贸易委员会医药司司长、经济运行局副局长；国家发展与改革委员会经济运行局副局长；现任北京医药集团公司名誉董事长；医药经济报首席专家；国家发展改革委员会生物医药专家委员会副主任；国家科技部国家重大专项专家委员会专家。
                <a class="cl-blue" target="_blank" href="#">[详细]</a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
     
<!--foot-->
  <include file="common/footer" />    
</div>
</body>
</html>
