<!doctype html>
<html>
<head>
<meta charset="utf-8">
<include file="common/top" />
<script>
  require([baseUrl+'/js/pages.js'],function(pages){

  });
</script>
</head>

<body>
<div class="main">
<!--top-->
  <include file="common/header" />
<!--banner-->
  <div class="banner2">
    <img src="<{$banner}>">
  </div>

  <div class="w">
    <div class="w1">
      <div class="map">
        <a href="/index/index.html">首页</a>&gt;<a href="#">俱乐部成员</a>&gt;<span><{$user_info.name}></span>
      </div>
      <div class="jiesao-main">
        <div class="top-box">
          <a href="javascript:;" class="img"><img src="<{$user_info.pic_title}>@370w_230h.jpg" alt="<{$user_info.name}>"></a>
          <div class="summary">
            <p class="fs18">会员介绍</p>
            <p class="indent mt10"><{$user_info.description|htmlspecialchars_decode}></p>
            <p class="tr mt20"><a href="#" class="yuedu-btn">阅读全文</a></p>
          </div>
        </div>
        <div class="bottom-box">
          <div class="left-box">
            <div class="ui-panel">
              <div class="ui-panel-title">
                <span class="ui-panel-name"><i class="jieshao_icon icon1"></i>他的风采</span>
              </div>
              <div class="ui-panel-content">
                <div class="img-list">
<?php
$pic_list = explode(',', $user_info['pic_list']);
foreach ($pic_list as $pic) { ?>
                <a href="<{$pic}>" data-lightbox="fengcai" class="img"><img src="<{$pic}>@130w_150h.jpg" alt=""></a>
<?php
}
?>
                </div>
              </div>
            </div>
            <div class="clearfix mt20">
              <div class="fl w350 ui-panel">
                <div class="ui-panel-title">
                  <span class="ui-panel-name"><i class="jieshao_icon icon3"></i>他的语录</span>
                </div>
                <div class="ui-panel-content">
                  <ul class="yvlu-list">
                    <li>
                      <p>
                        <i class="mark">“</i>
                        <span class="text"><{$user_info.quotations1}></span>
                        <i class="mark">”</i>
                      </p>
                      <p class="tr">——<{$user_info.name}></p>
                    </li>
                    <li>
                      <p>
                        <i class="mark">“</i>
                        <span class="text"><{$user_info.quotations2}></span>
                        <i class="mark">”</i>
                      </p>
                      <p class="tr">——<{$user_info.name}></p>
                    </li>
                    <li>
                      <p>
                        <i class="mark">“</i>
                        <span class="text"><{$user_info.quotations3}></span>
                        <i class="mark">”</i>
                      </p>
                      <p class="tr">——<{$user_info.name}></p>
                    </li>
                    <li>
                      <p>
                        <i class="mark">“</i>
                        <span class="text"><{$user_info.quotations4}></span>
                        <i class="mark">”</i>
                      </p>
                      <p class="tr">——<{$user_info.name}></p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="fl w450 ml20 ui-panel">
                <div class="ui-panel-title">
                  <span class="ui-panel-name">他的动态</span>
                </div>
                <div class="ui-panel-content">
                  <ul class="news-list square">
                    <div class="first">
                      <p class="title"><a href="#" target="_blank"><{$trends[0].title}></a></p>
                      <p class="summary"><{$trends[0].description|truncate=0,"...",true}> 
                        <a class="cl-blue" target="_blank" href="#">[详细]</a>
                      </p>
                    </div>
                    <li><a href="#" target="_blank">于明德：2015年医药营销实战解析</a></li>
                    <li><a href="#" target="_blank">于明德：2015年医药营销实战解析</a></li>
                    <li><a href="#" target="_blank">于明德：2015年医药营销实战解析</a></li>
                    <li><a href="#" target="_blank">于明德：2015年医药营销实战解析</a></li>
                  </ul>
                </div>
              </div>
              <div class="fl w450 ml20 mt20 ui-panel">
                <div class="ui-panel-title">
                  <span class="ui-panel-name">他的报道</span>
                </div>
                <div class="ui-panel-content">
                  <ul class="news-list square">
                    <div class="first">
                      <p class="title"><a href="#" target="_blank"><{$reports[0].title}></a></p>
                      <p class="summary"><{$reports[0].description|truncate=0,"...",true}> 
                        <a class="cl-blue" target="_blank" href="#">[详细]</a>
                      </p>
                    </div>
                    <li><a href="#" target="_blank">于明德：2015年医药营销实战解析</a></li>
                    <li><a href="#" target="_blank">于明德：2015年医药营销实战解析</a></li>
                    <li><a href="#" target="_blank">于明德：2015年医药营销实战解析</a></li>
                    <li><a href="#" target="_blank">于明德：2015年医药营销实战解析</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="ui-panel right-box">
            <div class="ui-panel-title">
              <span class="ui-panel-name"><i class="jieshao_icon icon2"></i>他的公司</span>
            </div>
            <div class="ui-panel-content">
              <a href="#" class="company-img"><img src="<{$user_info.company_logo}>@297w_180h.jpg" alt=""></a>
              <div class="mt20 fs16">公司简介</div>
              <p class="indent mt20"><{$user_info.company_description|htmlspecialchars_decode}>
                <a class="cl-blue" target="_blank" href="#">[详细]</a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="w intr">
<?php dump($user_info); ?>
<?php dump($trends); ?>
<?php dump($reports); ?>
  </div>
   
<!--foot-->
  <include file="common/footer" />        
</div>
</body>
</html>
