<!doctype html>
<html>
<head>
<meta charset="utf-8">
<include file="common/top" />
<script>
  require([baseUrl+'/js/pages.js'],function(pages){
  });
</script>
</head>

<body>
<div class="main">
<!--top-->
  <include file="common/header" />
  
<!--banner-->
  <div class="banner2">
    <img src="<{$banner}>">
  </div>
  <div class="w intr mt20">
    <div class="w1 int intr-p">
      <h1><span class="title">药智精英俱乐部视频集</span> <span class="en">VIDEO ALBUM</span></h1>
      <div class="video-list">
      <volist name="lists" id="vo">
        <a class="item" data-widget="linkDialog" data-width="510" data-height="460" href="<{:U('videoDetail')}>?id=<{$vo.id}>">
          <img src="<{$vo.pic}>">
          <span class="text"><{$vo.title}></span>          
        </a>
      </volist>
      </div>
      <div class="quotes">
          <{$page}>
      </div>
    </div>
  </div>
     
<!--foot-->
  <include file="common/footer" />  
</div>
</body>
</html>
