<include file="Common:header" />
  <form method=post  name="form1" action="" onSubmit="return CheckSubmit();">
        <table border="0" cellspacing="0" cellpadding="0" class="vbm">
            <tr class="firstr">
              <td width="50">名称</td>
              <td width="80">标记</td>
              <td>内容</td>
              <td>说明</td>
            </tr>
            <?php foreach ($list as $i => $vo) : ?>
            <tr align="center" bgcolor="#f5fbff">
                <td><?=$vo['title']?></td>
                <td><?=$vo['name']?></td>
                <td>
<?php switch ($vo['type']) {
  default:
  case 'input':
    echo '<input type="text" class="text" name="'.$vo['name'].'" value="'.$vo['value'].'">';
    break;

  case 'textarea':
    echo '<textarea name="'.$vo['name'].'" cols="" rows="10" style="height: 50px; width: 90%;">'.$vo['value'].'</textarea>';
    break;

  case 'radio':
    if($vo['value'] == 0)  echo '<input type="radio" name="'.$vo['name'].'" value="0" checked="checked">关闭 <input type="radio" name="'.$vo['name'].'" value="1">开启';
    else echo '<input type="radio" name="'.$vo['name'].'" value="0" >关闭 <input type="radio" name="'.$vo['name'].'" value="1" checked="checked">开启';
    break;
}
?>

                    
                </td>
                <td><?=$vo['description']?></td>
            </tr>
            <?php endforeach;?>
        </table>
  <center><input type="submit" value="提 交" style='float:left;margin-left:165px' class="sunjoin large"/><input type="button" style='float:left;margin-left:5px' onclick="window.location.href='/admin/site/add'" value="新增配置" class="sunjoin large"></center>
</form>
<div class="pagination">
<{$page}>
</div>
<include file="Common:footer" />