<include file="Common:header" />
        <table border="0" cellspacing="0" cellpadding="0" class="vbm">
            <tr class="firstr">
              <td width="60">编号</td>
              <td width="80">名称</td>
              <td width="80">属性</td>
              <td>管理</td>
            </tr>
            <?php foreach ($list as $i => $vo) : ?>
            <tr align="center" bgcolor="#f5fbff">
                <td><?=$vo['id']?></td>
                <td><?=$vo['name']?></td>
                <td><font color=green><?php echo $vo['status']==1?"启用":"未启用";?></font></td>
                <td>
                    <a href='/admin/adminRole/edit?id=<?=$vo['id']?>'>编辑</a> / 
                    <a href='/admin/adminRole/delete?id=<?=$vo['id']?>' onClick="return confirm('您确定要删除该用户组吗，如不确定请点取消')">删除组</a>
                </td>
            </tr>
            <?php endforeach;?>
        </table>
<include file="Common:footer" />