<include file="Common:header" />
	<div class="ccc2">
		<ul>
	   <input class="sunjoin large" type="button" onClick="location.href='/admin/active/addtv'" value="发布视频">
		</ul>
	</div>
	<div id="sunjoin">
    <table border="0" cellspacing="0" cellpadding="0" class="vbm">
        <tbody><tr class="firstr">
          <td width="60">ID</td>
          <td>视频标题</td>
          <td>视频地址</td>
          <td>添加时间</td>
          <td>操作</td>
        </tr>
      </tbody>
      <tbody>
      	<?php foreach ($list as $vo): ?>
    	<tr bgcolor="white">
    	  <td><label><?=$vo['id']?></label></td>
    	  <td align="left"><a href="<{:U('edittv')}>?id=<?=$vo['id']?>"><?=$vo['title']?></a></td>
          <td align="left"><?=$vo['url']?></td>
          <td align="left"><?=date('Y-m-d H:i:s',$vo['time'])?></td>
    	  <td align="center"><a href="<{:U('edittv')}>?id=<?=$vo['id']?>">编辑</a> / <a href="<{:U('deletetv')}>?id=<?=$vo['id']?>" onclick="if(!confirm('确定要删除吗？\n\n此操作不可以恢复！'))return false;">删除</a>
    	  </td>
    	</tr>
    	<?php endforeach ?>
      </tbody>

    </table>
  </div>
	<div class="pagination">
	    <{$page}>
	</div>
<include file="Common:footer" />