<include file="Common:header" />
<div id="sunjoin">
<table border="0" cellspacing="0" cellpadding="0" class="vbm">
	<tbody>
		<tr class="firstr">
			<td width="60">ID</td>
			<td>标识</td>
			<td>名称</td>
			<td>规格(宽度 x 高度)</td>
			<td width='100'>操作</td>
		</tr>
	</tbody>
	<tbody>
		<volist name="list" id="vo">
		<tr bgcolor="white">
			<td align="left"><{$vo.id}></td>
			<td align="left"><{$vo.name}></td>
			<td align="left"><{$vo.title}></td>
			<td align="left"><{$vo.width}> x <{$vo.height}></td>
			<td align="center"><a href="<{:U('Adv/place_edit')}>?id=<{$vo.id}>">编辑</a> | <a href="<{:U('Adv/place_delete')}>?id=<{$vo.id}>" onclick='return confirm("确定删除吗？")'>删除</a></td>
		</tr>
		</volist>
	</tbody>
</table>

</div>
<div class="pagination">
<{$page}>
</div>
<include file="Common:footer" />