<include file="Common:header" />
<form method=post  name="form1" action="">
	<input type="hidden" name='id' value="<{$adv.id}>">
	<table border="0" cellspacing="0" cellpadding="0" class="vbm">
		<tr bgcolor="#f5fbff" >
			<td width="50px" align="right">标识</td>
			<td colspan="3"><input name="name" id="name" type="text" class="text" value="<{$adv.name}>" size="50"> <font color="red">*</font> 英文与下划线的组合</td>
		</tr>
		<tr bgcolor="#f5fbff" >
			<td width="50px" align="right">名称</td>
			<td colspan="3"><input name="title" id="title" type="text" class="text" value="<{$adv.title}>" size="50"> <font color="red">*</font> 汉字，便于分辨</td>
		</tr>
		<tr bgcolor="#f5fbff" >
			<td width="50px" align="right">宽度</td>
			<td colspan="3"><input name="width" id="width" type="text" class="text" value="<{$adv.width}>" size="10" style='width:30px'> px <font color="red">*</font></td>
		</tr>
		<tr bgcolor="#f5fbff" >
			<td width="50px" align="right">高度</td>
			<td colspan="3"><input name="height" id="height" type="text" class="text" value="<{$adv.height}>" size="10" style='width:30px'> px <font color="red">*</font></td>
		</tr>
	</table>
	<center><input type="submit" value="提 交" style="float:left;margin-left:70px" class="sunjoin large"/><input type="button" style="float:left;margin-left:5px" onclick="history.back()" value="返 回" class="sunjoin large"></center>
</form>
<include file="Common:footer" />