/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, blockquote, textarea, p, th, td ,table {margin:0;padding:0;}
body, input, select, button, textarea { font-size: 12px; font-family: Tahoma, Geneva, sans-serif;color:#404040;}
table {border-collapse:collapse;}
button { cursor: pointer;}
fieldset{border:0;}
img{vertical-align:top; border:0 none;}
address, caption, cite, code, dfn, em, th, var {font-style:normal;font-weight:normal;}
ol,ul,li{list-style:none; }
caption, th {text-align:left;}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-family:"microsoft yahei"; }
p{text-align:left;}
i,cite,em{font-style:normal;font-weight:normal;}
abbr, acronym {border:0;}
a {text-decoration:none; color:#404040; }
body { font-size:12px; background:#fff;} 
q:before,q:after {content:'';} 
a:active {outline: none;star:expression_r(this.onFocus=this.blur());}
outline:none; 
area {blr:expression(this.onFocus=this.blur()); } 
a:focus{-moz-outline-style: none;}
a:hover{ color:#00aeff; text-decoration:underline;}
html{overflow:-moz-scrollbars-vertical;}
.hl{ overflow:hidden; _height:1%;}
.w{ width:100%; }
.w1{ width:1200px;margin:0 auto;}
.main{ font-family:"microsoft yahei";overflow: hidden;margin-top: 80px;}
h1{ font-size:28px; font-weight:normal; padding:50px 0; letter-spacing:1px; color:#404040}
.tc{text-align: center;}
.tr{text-align: right;}
ul.circle{}
ul.circle li{background: url(../../images/circle.png) 0 center no-repeat transparent;padding-left: 10px;}
ul.circle-big li{background: url(../../images/circle_big.png) 0 center no-repeat transparent;padding-left: 15px;}
ul.square li{background: url(../../images/square.png) 0 center no-repeat transparent;padding-left: 15px;}
.fs14{font-size: 14px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px;}
.fl{float:left;}

.mt10{margin-top: 10px;}
.ml20{margin-left: 20px;}
.mt20{margin-top: 20px;}
.indent{text-indent: 2em;}

.clear{clear:both;}
.cl-blue{color:#005ca1;}
/*文字溢出*/
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*panel*/
.ui-panel {
  background-color: #f9f9fa;
}
.ui-panel .ui-panel-title {
  position: relative;
  line-height: 30px;
  padding: 0 10px;
  border-bottom: 2px solid #34495e;
}
.ui-panel .ui-panel-title .ui-panel-name {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #34495e;
  font-weight: 700;
}
.ui-panel .ui-panel-title .ui-panel-side {
  position: absolute;
  right: 10px;
  top: 0;
  line-height: 30px;
}
.ui-panel .ui-panel-title .ui-panel-side a:hover {
  color: #3366cc;
}
.ui-panel .ui-panel-content {
  padding: 10px;
}

.top{ width:1200px; margin:0 auto; height:80px;  }
.logo{ float:left; margin-top:10px}
.to{ float:right; font-size:16px;}
.to .nav{ float:left;line-height: 80px;}
.to .to-h{ color:#00aeff}
.to .item{display: inline-block;*zoom:1;*display:inline;*line-height:16px;position: relative;height:80px;}
.to .first-item{border:none;}
.to .item .name{padding:0 25px;display: inline-block;color:#fff;line-height: 80px;}
.to .item:hover .name{color:#00aeff;text-decoration: none;}
.to .item.active .name{
  color:#fff;
  background-color: #3498db;
}
.to .item .subnav{
  position: absolute;left:50%;top:10px;padding-top:20px;width:120px;margin:0 0 0 -60px;
  font-size: 14px;line-height: 30px;opacity: 0;filter:alpha(opacity=0);
  display:none;
}
.to .item .subnav .arrow{
  position: absolute;left:50px;top:0px;
}
.to .item .subnav i{
  height: 0;width:0;position: absolute;line-height: 0;
  border-width:10px;border-color:transparent;border-style: solid;
  _border-style:dashed;_border-color:red;
}
.to .item .subnav .arrow-top{border-bottom-color:#fff;_border-bottom-style:solid;z-index:2;top:1px;}
.to .item .subnav .arrow-bottom{border-bottom-color:#ccc;_border-bottom-style:solid;z-index:1;}

.to .item .subnav ul{list-style:none;padding:10px 0;background-color: #fff;border:1px solid #ddd;border-radius: 3px;text-align: center;}
.to .item .subnav .sname{padding:0 14px;_zoom:1;}
.to .item .subnav .sname:hover{color: #00aeff;}

.to .search{float:left;width:200px;text-align: center;margin-top: 30px;}
.to .to-input{ display: inline-block;*zoom:1;*display:inline; overflow:hidden;background-color: #293a4a;}
.to .to-input input{ border:0 none;outline: none; padding:4px;width:60px;float:left;transition:0.3s width;background-color: transparent;color:#fff;}
.to .to-input input:focus{width:140px;}
.to .button{padding:4px;float:left; background: url(../images/sec.png) 5px 3px no-repeat transparent; width:15px; cursor:pointer; height:14px;font-size: 0;}
.to .button:hover {}


.banner{overflow:hidden;position: relative;}
.banner .sliderbox{height: 300px;}
.banner .fa{
  position: absolute;top:50%;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  margin-top:-50px;
  width:30px;line-height:100px;text-align: center;
  font-size:70px;text-decoration: none;
}
.banner .arrow-left{left:40px;}
.banner .arrow-right{right:40px;}

.banner .ui-sliderbox-box img{width:1800px;height:100%;}
.banner .ui-sliderbox-control{width:100%;text-align: center;bottom: 20px;}
.banner .ui-sliderbox-control a{
  display: inline-block;height: 20px;width:20px;
  overflow: hidden;margin-right: 10px;opacity: 0.75;filter:alpha(opacity=75);
  background-color: #fff;border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.banner .ui-sliderbox-control a.active{opacity: 1;filter:alpha(opacity=100);}
.banner .ui-sliderbox-control img{height:100%;}

.not{ overflow:hidden; *zoom:1; }
.nots{ width:250px; overflow:hidden; color: #606060; height:auto; float:left; display:inline; margin-top:100px}
.nots2{ margin:100px 225px 0}
.nis{width:100px;height:100px;display:block;margin:0 auto;background-color: #bbb;border-radius:50%;position: relative;cursor:pointer;overflow: hidden;}
.nis:after{content: "";position:absolute;width:100%;height:100%;top:100%;left:0;border-radius: 50%;
  transition:0.3s top;
}
.nots:hover .nis:after{top:0;}
.ni-1:after{background-color: #cb9bf7;}
.ni-2:after{background-color: #ffdb2e;}
.ni-3:after{background-color: #39e0da;}
.nis .i{ width:100px; height:100px; overflow:hidden;position: absolute;z-index: 2;left:0;top:0;}
.ni-1 .i{ background:url(../images/icon_1_1.png) no-repeat;}
.ni-2 .i{ background:url(../images/icon_2_2.png) no-repeat;}
.ni-3 .i{ background:url(../images/icon_3_3.png) no-repeat;}
.nots h2{ font-size:26px; font-weight:normal; color:#3498DB; padding:40px 0 20px; text-align: center;}
.nots .noe li{ white-space:nowrap; text-overflow:ellipsis; overflow:hidden; line-height:30px; width:250px; }
.nots .noe li a{ font-size:14px;color:#606060}

.nots .noe .circle li{background-position: 0 center;padding-left: 10px;}
.nots .noe .first-item .text-overflow{display: block;color:#111;font-weight:700;font-size: 14px;}
.nots .noe .first-item .summary{color:#606060;height: 36px;overflow: hidden;line-height: 18px;margin: 5px;}

.intr{ overflow:hidden; color:#666;line-height: 1.8;}
.intrs{ background:#f9f9fa;height:550px;}
.w h1 span{display: inline-block;background-color: #fff;position: relative;top: -22px;line-height: 40px;float: left;padding-right: 10px;}
.w h1 .en{ font-size:18px; margin-top: 3px; color:#404040}
.int p{ font-size:14px; padding:10px 0; line-height:24px; color:#606060; letter-spacing:1px;}
.w h1{ padding: 0; color:#3498DB; border-bottom: 2px dotted #999; height: 0px; margin: 80px 0 42px; line-height: 0px;}
.int h3{ font-size:16px; color:#404040; margin-top:40px; color:#909090;}
.int h3 span{ color:#00aeff;}

.mb{ overflow:hidden; }
.mbs{ overflow:hidden;}
.mbs a{
    display: inline-block;
    vertical-align: top;
}
.mbs-o{   overflow:hidden; float:left; margin-right:7px; width:280px; padding:5px; height:120px; margin-bottom:50px}
.m-img{ float:left; width:100px; height:120px;}
.m-img img{ width:100px; height:120px;}
.w h4{ font-size:16px; padding:7px 0 20px}
.w h4 span{ font-size:12px; font-weight:normal; color:#606060}
.m-item { padding-left:10px; padding-top:10px; float:left; width:170px}
.m-item h5{ line-height:20px; color:#606060;  font-weight:normal; font-family:"宋体"; color:#909090;   }

.foot{ background:#000; height:200px; margin-top:30px}
.ft{ padding-top:30px}
.ft-r{ float:left; color:#d6d6d6; margin-top:20px}
.ft-r ul li{ float:left;}
.ft-r ul li a{ padding:0 20px; color:#fff; font-size:13px;}
.ft-r ul li span{ font-size:7px; font-family:"宋体"; color:#a0a0a0}
.fts{ overflow:hidden; padding-bottom:15px}
.ft-r .fts2 a{ padding: 0 10px}
.ft-r .fts2 ul{ float:left;}
.ft-r p{ color:#989898; padding:5px 20px;}



.banner2{ width:1200px; margin:0 auto; height:300px; overflow:hidden; margin-top:20px}
.banner2 img{ width:1200px; height:300px;}
.intr-p p{ font-size:16px;}

.me{ overflow:hidden;  _height:1%}
.me-o{ margin: 30px 0 ; padding:20px 0;  }
.me h3{ margin-top:10px; color:#404040}
.me-img{ float:left; width:100px;}
.me-w{ float:left;  width:1000px;}
.me-o .me-w{ padding-left:30px;}
.int-aa{ color:#e74c3c;}
.intx{ margin-bottom:50px}

.apl{  position:relative; float:left}
.apls{ overflow:hidden; height:50px; line-height:32px; padding-top:10px;*line-height:30px;}
.apls b{color:#e74c3c; font-family:"宋体"; margin-right:5px; font-weight:normal;}
.apls-span{float:left; width:450px; text-align:right; padding-right:10px; font-size:14px; color:#888}
.apls .text{border:1px #bbb solid; width:298px; height:30px; line-height:30px; padding:0px 5px;*float:left; outline: none; font-size:14px; }
.apls .label{ padding-left:10px}
.apls .wro{  color:#e74c3c;}
.apls .too{ color:#009944}
.apls-button{ text-align:center; padding:20px 0;}
.apls-button input{ background:#00aeff; border:0 none; color:#fff; padding:5px 30px; font-size:16px; }
.apls-button input:hover{ background:#009fe9;}
.apls-a{ text-align:center; padding:50px 0;}
.apls-a a{ padding:0 50px; color:#427fed; font-size:14px}
.apls-a a:hover{ color:#e74c3c}
.apls-a P{ text-align:center; padding:50px 0; font-size:16px;}

.submit{ position:absolute; z-index:100; border:1px #ddd solid; width:350px; height:160px; text-align:center; left:35%; font-size:14px; color:#404040; background:#fcfcfc url(../images/symbol-check.png) 0 15px no-repeat; padding-left:50px; display: none;}
.submit-success{background:#fcfcfc url(../images/symbol-check.png) 0 15px no-repeat; }
.submit-false{background:#fcfcfc url(../images/delete.png) 0 15px no-repeat; }
.submit h2{ font-size:24px; padding:50px 0 10px}
.submit span{ color:#909090}

.constitution h2{ font-size:16px; padding:20px 0;}
.constitution h2 span{ width:70px; text-align:right; display:inline-block; padding-right:20px}
.cns{ overflow:hidden; _height:1% ; line-height:30px; color:#404040}
.cns h3{ float:left; width:70px; text-align:right;font-size:14px; color:#404040; padding:10px 0}
.cns-li{ float:left; color:#707070 ; width:1100px; padding:10px 0}
.cns-li ul{ padding-left:20px}

.intss-w{   margin:30px 0; padding:50px 0;}
.intss-w a{ color:#00aeff}
.int h3 .me-w-span{ float:right; color:#909090; font-weight:normal; font-size:12px;}
.me-ww{ width:900px; float:left; position:relative;}
.me-imgs { width:300px; float:left;}
.me-imgs img{ width:300px; height:218px;}
.mes { border-bottom:1px #ddd dotted; background:#F9F9FA; margin:50px 0}
.mes:hover{ background:#eaeaea}

.map{ overflow:hidden; background:#fafafa; padding:10px; color:#606060; margin-top:20px}
.map a{ padding:0 5px; color:#606060}
.map span{ color:#0091fc}
.detail{ padding-top:50px;width:900px; float: left;}
.sidebar{width:280px;float:left;margin-left: 20px;}
.sidebar .square a{color:#404040;line-height: 2;display: inline-block;}
.sidebar .square a:hover{color:#34495e;}
.detail h1{ color:#404040; border: none; margin: 0; line-height: 1.8; height: auto;}
.detail h2{ font-weight:normal; font-size:13px; color:#909090; position:relative; border-bottom:1px #aaa dotted; padding-bottom:30px; font-family:"宋体";}
.detail h2 span{ position:absolute; padding-left:20px; top:-6px; line-height:14px; right:0}
.detail h2 span a{ width:18px; height:19px; overflow:hidden; display:inline-block; margin:0 5px}
.detail h2 .de1{ background:url(../images/icons_v3.png) 0 0 no-repeat;}
.detail h2 .de2{background:url(../images/icons_v3.png) -23px 0 no-repeat;}
.detail h2 .de3{ background:url(../images/icons_v3.png) -46px 0 no-repeat;}
.detail h2 .de4{background:url(../images/icons_v3.png) -69px 0 no-repeat;}
.detail h2 .de1:hover{ background:url(../images/icons_v3.png) 0 -20px no-repeat;}
.detail h2 .de2:hover{background:url(../images/icons_v3.png) -23px -20px no-repeat;}
.detail h2 .de3:hover{ background:url(../images/icons_v3.png) -46px -20px no-repeat;}
.detail h2 .de4:hover{background:url(../images/icons_v3.png) -69px -20px no-repeat;}
.de-p{ margin-top:30px; min-height:600px;}
.de-p p{ text-indent:40px; font-family:"宋体"}


.t{ background:#34495e;position: fixed;z-index: 10;height: 80px;top:0;}
.w .h1-56{ font-size:40px; padding:80px 0 10px; color:#3498DB;position: relative;}
.w .h1-56 span{}
.p-x{ width:450px; padding-top:20px}
.p-x p{  color:#707070; padding:15px 0 }
.p-left{ float:left;}
.p-left h2{ font-size:24px; color:#404040;position: relative;}
.p-img{ float:right;width:520px;height:500px;}
.p-img .placeimg{position: absolute;}
.lik{ padding-top:10px; padding-left:10px}
.lik a{ padding-left:5px}

.ft-xx{ float:right; color:#fff; padding-top:5px}
.fx-1 { background:url(../images/footicon.png) right no-repeat; background-position:390px 17px; padding:5px 0; overflow:hidden; }
.fx-1 span{ overflow:hidden; display:block; text-align:right; font-size:16px; padding-top:12px; padding-right:35px}
.fps{ padding-top:20px; color:#aaa;}
.fps a{ color:#aaa; padding-left:20px;}
.me-x { padding:30px 30px 0 30px}
.me-x h3{ overflow:hidden; _height:1%}
.me-x p{ font-size:13px; color:#707070}
.me-x a{ float:left; font-size:22px; font-weight:normal;}
.pp-p{ background:#f9f9fa; padding:10px 20px}
.zzjg{ text-align:center;}

.us-bj{ background:url(../images/us_img.jpg) no-repeat; height:700px; position:relative}
.foots{ margin-top:0;}
.us-o { margin-bottom:12px}
.us-o span{ display:block; color:#00b3ff;}
.intss-ws{ background:url(../images/icon_us.png) 10px 20px no-repeat; position:absolute; left:20%; bottom:10%; background-color:#000; background-color: rgba(0,0,0,0.5); filter:Alpha(opacity=50);   padding:20px 60px; }
.us-o .us-o-x{ font-size:20px; color:#fff;}
.lct_img{ text-align:center;}

.attls { /* background:#f9f9fa; */}
.attls .al-s{ overflow:hidden; _height:1%}
.attls h2{ font-size:24px; font-weight:normal; color:#03a9f4}
.attls .al-sh2{ color:#404040; font-size:20px; padding-top:5px}
.al{ float:left; width:500px; padding:0 50px;}
.attl{ float:left;}
.al-s span{ line-height:36px; overflow:hidden; font-size:15px; float:left; width:220px; display:inline-block;padding-top:25px; padding-right:10px; color:#606060}
.al-s i{  width:36px; height:36px; display:inline-block; float:left; padding-right:10px}
.al-s .al-s-i1{ background:url(../images/icon_dh.png) no-repeat;}
.al-s .al-s-i2{ background:url(../images/icon_lxiu.png) no-repeat;}
.al-s .al-s-i3{ background:url(../images/icon_zx.png) no-repeat;}
.al-s .al-s-i4{ background:url(../images/icon_dd.png) no-repeat;}
.al-s .al-s-i5{ background:url(../images/icon_xm.png) no-repeat;}
.al-s .al-s-i6{ background:url(../images/icon_zj.png) no-repeat;}


.attl-button{ margin-top:20px;}
.bt{ overflow:hidden; position:relative; line-height:44px; _height:1%}
.bt-i{  width:16px; height:16px; float:left; position:absolute; top:13px; left:10px; overflow:hidden;}
.bt-i-name2{background:url(../images/icon_m.png) -16px 0 no-repeat;}
.bt-i-dwqc{background:url(../images/icon_m.png) -16px -17px  no-repeat;}
.bt-i-zw{background:url(../images/icon_m.png) 0 -33px  no-repeat;}
.bt-i-call{background:url(../images/icon_m.png) 0 -49px  no-repeat;}
.bt input{ width:300px;  padding:0 5px; border:1px #ddd solid; padding:10px 10px 10px 35px; border-radius:3px; font-size:15px; line-height:21px; float:left; font-family:"microsoft yahei"; color:#b0b0b0;}
.bt label{ padding:0 16px; font-size:13px;margin-left: 5px;height: 17px;}
.bt label.validate-error{background: url(../images/icon_m2.png) 0px -27px no-repeat;color:#fcab2b;}
.bt label.validate-success{background: url(../images/icon_m2.png) 0px 0px no-repeat;}

.bt .input-c{ border:1px #03a9f4 solid;}
.alss{ overflow:hidden; padding: 100px 0 100px;}
.attl-button button{ background:#03a9f4; width:346px; height:42px; border-radius:3px; border:0 none; text-align:center; color:#fff; font-size:16px;font-family:"microsoft yahei"}
.attl-button button:hover{background:#00c6ff;}
.dow a{ display:block; font-size:14px; color:#2672ec; margin-top:20px; font-weight:700;}
.dow h3{ font-size:15px; color:#404040}

.mbs-x{ overflow:hidden; text-align:center;font-size:14px; float:left; width:210px; margin: 10px; height:auto;}
.mbs-x h3{ font-size:18px; padding:5px 0; color:#404040}
.mbs-x h4{ font-size:14px; padding:2px 0; color:#606060}
.mbs-x-span span{ display:block; color:#606060;opacity: 0;filter:alpha(opacity=0);transition:0.5s opacity;}
.mbs-x .img{ border:5px transparent solid;overflow:hidden;width:130px;height:130px; border-radius:50%;margin:0 auto;position: relative;}
.mbs-x img{ transition:0.5s transform;}
.mbs-x:hover .img{border-color:#03a9f4;box-shadow:0px 3px 3px rgba(0,0,0,0.5);}
.mbs-x:hover h3{color:#03a9f4;}
.mbs-x:hover h4{color:#03a9f4;}
.mbs-x:hover .mbs-x-span span{ display:block; color:#606060;opacity: 1;filter:alpha(opacity=100);}

/*custom-animate*/
.custom-animate1 .panel{
  position: relative;width:100%;height:100%;visibility: hidden;cursor: pointer;
}
.custom-animate1 .panel .text{
  color:#fdb813;position: absolute;
  font-size: 16px;font-weight: 700;
}
.custom-animate1 .panel .circle{
  border:20px solid #01a6a0;
  border-radius: 50%;
  width:224px;height:224px;position: absolute;left:50%;top:50%;margin: -132px 0 0 -132px;
}
.custom-animate1 .panel .label{
  position: absolute;left:50%;bottom:50%;
  width:12px;height:60px;margin-left: -8px;
}
.custom-animate1 .panel .label .rec{
  position: absolute;
  width:100%;height:100%;background-color: #01a6a0;
}
.custom-animate1 .panel .label .dot{
  position: absolute;background-color: #01a6a0;
  top:-40px;width:36px;height:36px;border-radius: 50%;left:50%;margin-left: -18px;
}
.custom-animate1 .panel .label.yellow .rec,.custom-animate1 .panel .label.yellow .dot{
  background-color: #fdb813;
}
/* Page */

div.quotes {padding-right: 3px; padding-left: 3px; padding-bottom: 3px; margin: 10px; padding-top: 3px; text-align: center; *font-size: 12px; _font-size: 12px }
div.quotes a {border-right: #ddd 1px solid;padding-right: 5px;border-top: #ddd 1px solid;padding-left: 5px;padding-bottom: 2px;border-left: #ddd 1px solid;margin-right: 2px;padding-top: 2px;border-bottom: #ddd 1px solid;text-decoration: none }
div.quotes a:hover {border-right: #a0a0a0 1px solid;padding-right: 5px;border-top: #a0a0a0 1px solid;padding-left: 5px;padding-bottom: 2px;border-left: #a0a0a0 1px solid;margin-right: 2px;padding-top: 2px;border-bottom: #a0a0a0 1px solid }
div.quotes a:active {border-right: #a0a0a0 1px solid;padding-right: 5px;border-top: #a0a0a0 1px solid;padding-left: 5px;padding-bottom: 2px;border-left: #a0a0a0 1px solid;margin-right: 2px;padding-top: 2px;border-bottom: #a0a0a0 1px solid }
div.quotes span.current {border-right: #e0e0e0 1px solid;padding-right: 5px;border-top: #e0e0e0 1px solid;padding-left: 5px;font-weight: bold;padding-bottom: 2px;border-left: #e0e0e0 1px solid;margin-right: 2px;padding-top: 2px;border-bottom: #e0e0e0 1px solid;background-color: #0066cd;color: #fff }
div.quotes span.disabled {border-right: #f3f3f3 1px solid;padding-right: 5px;border-top: #f3f3f3 1px solid;padding-left: 5px;padding-bottom: 2px;border-left: #f3f3f3 1px solid;color: #ccc;margin-right: 2px;padding-top: 2px;border-bottom: #f3f3f3 1px solid }

.jiesao-main{line-height: 1.8;}
.jiesao-main .indent{line-height: 2.2;}
.jiesao-main a:hover{color:#005ca1;}
.jiesao-main .top-box{overflow: hidden;*zoom:1;}
.jiesao-main .top-box .img{float:left;width:370px;height:230px;padding: 6px;border:1px solid #ddd;position: relative;}
.jiesao-main .top-box .img .text{position: absolute;bottom: 6px;left: 6px;width: 370px;height: 30px;color: #fff;background-color: #34495e;line-height: 30px;text-align: center;
  opacity: 0.8;filter:alpha(opacity=80);font-size: 14px;
}
.jiesao-main .top-box .img img{width:100%;height:100%;}
.jiesao-main .top-box .summary{overflow: hidden;*zoom:1;background-color: #f9f9fa;padding: 20px 40px;height: 204px;}
.jiesao-main .top-box .yuedu-btn{padding: 5px 10px;background-color: #517394;color:#fff;}

.jiesao-main .bottom-box{overflow: hidden;*zoom:1;margin-top: 40px;}
.jiesao-main .left-box{width: 840px;float:left;}
.jiesao-main .right-box{width: 300px;margin-left:20px;float:left;}
.jiesao-main .w350{width: 320px;}
.jiesao-main .w450{width: 430px;}
.jiesao-main .ui-panel-title{border-bottom:1px solid #ddd;padding: 0;line-height: 36px;height: 36px;font-size: 18px;}
.jiesao-main .ui-panel-title .ui-panel-name{border-left: 8px solid #34495e;padding-left: 8px;font-weight: 400;}
.jieshao_icon{width:30px;margin-right:6px;height:25px;display: inline-block;vertical-align:middle;background: url(../images/jieshao_icon.png) no-repeat 0 0 transparent;}
.jieshao_icon.icon2{background-position: 0 -25px;}
.jieshao_icon.icon3{background-position: 0 -50px;}

.jiesao-main .company-img{display: block;text-align: center;height: 180px;line-height: 180px;}

.jiesao-main .img-list{}
.jiesao-main .img-list a{width: 126px;height: 146px;display: inline-block;margin: 10px 14px 0;}
.jiesao-main .img-list a img{width:100%;height:100%;}
.jiesao-main .yvlu-list{overflow: hidden;}
.jiesao-main .yvlu-list .mark{font-size: 30px;color:#ddd;font-family: "SimSun";line-height: 0;display: inline-block;position: relative;top: 10px;}
.jiesao-main .yvlu-list li{margin-top: -1px;border-top:1px dashed #ddd;padding: 14px;}
.jiesao-main .news-list{font-size: 14px;}
.jiesao-main .news-list li{background-position: -5px center;padding-left: 10px;margin-top: 4px;}
.jiesao-main .news-list .first{margin: 10px 0;}
.jiesao-main .news-list .first .title{overflow: hidden;}
.jiesao-main .news-list .first .summary{font-size: 12px;text-indent: 2em;}
.jiesao-main .news-list .first .title a{color:#005ca1;}

/*返回顶部*/
.side-bar{position: fixed;left:50%;bottom:100px;width: 54px;margin-left: 610px;z-index:10;_display:none;}
.side-bar .item{height: 54px;line-height: 54px;margin-bottom: 10px;background-color: #666;color:#fff;text-align: center;display: block;text-decoration: none;}
.side-bar .item:hover{background-color: #333;}
.side-bar .item .fa{font-size: 34px;width: 34px;height: 34px;}
.side-bar .item .text{display: block;margin-top: 2px;}
.side-bar .go-top .fa{margin-top: 4px;}
.side-bar .go-bottom .fa{margin-top: 8px;}


/*video-list*/
.video-list{padding-left: 40px; overflow: hidden; }
.video-list .item{float:left;margin: 0 40px 40px 0;position: relative;border: 10px solid #333;width: 320px;height: 200px;overflow: hidden;}
.video-list .item .text{text-align: center;position: absolute;left:0;width: 100%;bottom: 0;line-height: 30px;background-color: #000;opacity: 0.8;filter:alpha(opacity=80);color: #fff;font-size: 14px;}
.video-list .item img {width: 100%; height: 100%; }
.video-list .item:hover{border-color:#3498DB;}

/*photo-list*/
.photo-list{padding-left: 40px; overflow: hidden; }
.photo-list .item{float:left;margin: 0 40px 40px 0;position: relative;border: 10px solid #dedede;width: 320px;height: 200px;overflow: hidden;}
.photo-list .item .text{position: absolute;left:0;width: 284px;padding:0 30px 0 6px;bottom: 0;line-height: 40px;background-color: #dedede;color: #2d9de1;font-size: 18px;}
.photo-list .item img {width: 100%; height: 100%; }
.photo-list .item .text-overflow{display: block;}
.photo-list .item .arrow{position: absolute;right: 0;top:0;}
.photo-list .item:hover{border-color:#3498DB;}

/*album-detail*/
.album-detail{margin: 40px auto; }

.album-detail .info {position: relative; padding-left: 400px; background-color: #f9f9fa; height: 370px; overflow: hidden; }

.album-detail .info .img {position: absolute; left: 0; top: 0; width: 350px; height: 230px; border: 10px solid #dfdfdf; }

.album-detail .info .title {font-size: 24px;color: #2d9de1;margin-top: 40px;}

.album-detail .info .title .small {font-size: 14px;margin-left: 100px;}

.album-detail .info .summary {margin-top: 20px;}

.album-detail .gallery .img {width: 360px; height: 265px; float: left; margin: 0 10px 10px 0; background: url(/public/home/images/no-images.png) no-repeat center center #f0f0f0; }

.album-detail .gallery .img.first {width: 730px; height: 540px; }

.album-detail .gallery .img img {width: 100%; height: 100%; }
.album-detail .gallery {overflow: hidden; padding: 0 40px 0 50px; }
.link-list a {font-size: 16px; font-weight: 700; margin: 10px; }