<include file="Common:header" />
<form method="post"  name="form1" action="">
	<table border="0" cellspacing="0" cellpadding="0" class="vbm">
		<input type="hidden" name="id" value="<{$vo.id}>" />
		<tr bgcolor="#f5fbff" >
			<td width="50px" align="right">名称</td>
			<td colspan="3"> <input name="name" id="name" type="text" class="text" value="<{$vo.name}>" size="50"> <font color="red">*</font></td>
		</tr>
		<tr bgcolor="#f5fbff" >
			<td width="50px" align="right">职位</td>
			<td colspan="3"> <input name="duty" id="duty" type="text" class="text" value="<{$vo.duty}>" size="50"> <font color="red">*</font></td>
		</tr>
        <tr bgcolor="#f5fbff" >
            <td width="50px" align="right">会员头像</td>
            <td colspan="3">
                <input id="upload2" name='pic_title' type="hidden" style='width: 300px' value="<{$vo.pic_title}>" />
                <div id="myeditor2" class="edui-default" style="display: none;"></div>
                <input type="button" id='image2' value='上传图片'/>
            </td>
        </tr>
        <tr>
            <td width="50px" align="right"></td>
            <td colspan="3" id="previewtr2">
                <if condition="$vo['pic_title'] neq ''">
                    <img src="<{$vo.pic_title}>@1e_113w_113h_1c_0i_1o_90Q_1x.jpg" id="preview2" style='max-height:200px'/>
                <else />
                    <img src="/public/images/nopic.gif" id="preview<{$i}>" style='max-height:200px'/>
                </if>
            </td>
        </tr>
		<tr bgcolor="#f5fbff" >
			<td width="50px" align="right">图片列表</td>
			<td colspan="3">
				<input id="upload" name='pic_list' type="hidden" style='width: 300px' value="<{$vo.pic_list}>" />
                <div id="myeditor" class="edui-default" style="display: none;"></div>
                <input type="button" id='image' value='上传图片'/>
			</td>
		</tr>
		<tr>
			<td width="50px" align="right"></td>
			<td colspan="3" id="previewtr">
				<?php $pic_arr = explode(',', $vo['thumb']); foreach ($pic_arr as $i => $pic): ?>
					<if condition="$pic neq ''">
                        <?php if (strpos($pic, 'http://s.yaozh.com') === false): ?>
                        <img src="<{$pic}>@1e_113w_113h_1c_0i_1o_90Q_1x.jpg" id="preview<{$i}>" style='max-height:200px'/>
                        <?php else: ?>
                        <img src="<{$pic}>" id="preview<{$i}>" style='max-height:200px'/>
                        <?php endif ?>
                    <else />
                        <img src="/public/images/nopic.gif" id="preview<{$i}>" style='max-height:200px'/>
                    </if>
				<?php endforeach ?>
				
			</td>
		</tr>
		<tr bgcolor="#f5fbff" >
			<td width="50px" align="right">会员简介</td>
			<td colspan="3"><textarea name="description" id="ueditor_contents" cols="100" rows="5"><{$vo.description}></textarea></td>
		</tr>
        <tr bgcolor="#f5fbff" >
            <td width="50px" align="right">会员公司</td>
            <td colspan="3"> <input name="company" id="company" type="text" class="text" value="<{$vo.company}>" size="50"> <font color="red">*</font></td>
        </tr>
        <tr bgcolor="#f5fbff" >
            <td width="50px" align="right">公司头像</td>
            <td colspan="3">
                <input id="upload3" name='company_logo' type="hidden" style='width: 300px' value="<{$vo.company_logo}>" />
                <div id="myeditor3" class="edui-default" style="display: none;"></div>
                <input type="button" id='image3' value='上传图片'/>
            </td>
        </tr>
        <tr>
            <td width="50px" align="right"></td>
            <td colspan="3" id="previewtr3">
                <if condition="$vo['company_logo'] neq ''">
                    <img src="<{$vo.company_logo}>@1e_113w_113h_1c_0i_1o_90Q_1x.jpg" id="preview3" style='max-height:200px'/>
                <else />
                    <img src="/public/images/nopic.gif" id="preview<{$i}>" style='max-height:200px'/>
                </if>
            </td>
        </tr>
        <tr bgcolor="#f5fbff" >
            <td width="50px" align="right">公司简介</td>
            <td colspan="3"><textarea name="description" id="ueditor_contents2" cols="100" rows="20"><{$vo.description}></textarea></td>
        </tr>
	</table>
	<center><input type="submit" value="提 交" style="float:left;margin-left:70px" class="sunjoin large"/><input type="button" style="float:left;margin-left:5px" onclick="history.back()" value="返 回" class="sunjoin large"></center>
</form>
<script type="text/javascript">
//这个是图片上传的，网上还有附件上传的
    (function($) {
        var image = {
            editor: null,
            init: function(editorid, keyid) {
                var _editor = this.getEditor(editorid);
                _editor.ready(function() {
                    // _editor.hide();
                    _editor.addListener('beforeInsertImage', function(t, args) {
                    	val = new Array();
                    	prehtml = '';
                    	$.each(args, function(i, item){
                    	    val[i] = item['src']; 
                    	    prehtml = prehtml+"<img src='"+ item['src']+"@1e_113w_113h_1c_0i_1o_90Q_1x.jpg' id='preview"+i+"'/>\r\n";
						});
                        $("#" + keyid).val(val.join(','));
                        $("#previewtr"+keyid.replace('upload','')).html(prehtml);
                        // ('src',args[0].src+'@1e_200w_200h_1c_0i_1o_90Q_1x.jpg');
                    });
                });
            },
            getEditor: function(editorid) {
                this.editor = UE.getEditor(editorid);
                return this.editor;
            },
            show: function(id) {
                var _editor = this.editor;
                //注意这里只需要获取编辑器，无需渲染，如果强行渲染，在IE下可能会不兼容（切记）
                //和网上一些朋友的代码不同之处就在这里
                $("#" + id).click(function() {
                    var image = _editor.getDialog("insertimage");
                    image.render();
                    image.open();
                });
            },
            render: function(editorid) {
                var _editor = this.getEditor(editorid);
                _editor.render();
            }
        };
        $(function() {
            image.init("myeditor", "upload");
            image.show("image");
        });
        $(function() {
            image.init("myeditor2", "upload2");
            image.show("image2");
        });
        $(function() {
            image.init("myeditor3", "upload3");
            image.show("image3");
        });
    })(jQuery);
    window.UEDITOR_HOME_URL = "/public/ueditor/";  //UEDITOR_HOME_URL、config、all这三个顺序不能改变
    window.onload=function(){
        window.UEDITOR_CONFIG.initialFrameHeight="250";//编辑器的高度
        window.UEDITOR_CONFIG.initialFrameWidth="100%";
        window.UEDITOR_CONFIG.elementPathEnabled=false;
        window.UEDITOR_CONFIG.wordCount =false;
        window.UEDITOR_CONFIG.autoHeightEnabled = false;
        // window.UEDITOR_CONFIG.imagePath='/Uploads/thumb/';//编辑器调用图片的地址
        ueditor_contents_ueditor_contents = UE.getEditor('ueditor_contents');
        ueditor_contents_ueditor_contents2 = UE.getEditor('ueditor_contents2');
    }
</script>
<script type="text/javascript" charset="utf-8" src="/public/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/public/ueditor/ueditor.all.min.js"> </script>
<include file="Common:footer" />