<include file="Common:header" />
            <script language="javascript" src="/public/js/vbm.js"></script>
            <form action="" method="get">
                <table border="0" cellspacing="0" cellpadding="0" class="vbm">
                    <tr class="firstr">
                        <td colspan="2">
                            搜索符合条件的申请
                        </td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td style="background-color:#f1f5f8; width:40%">
                            开始时间
                        </td>
                        <td>
                            &nbsp;
                            <input name="start_time" class="text datepicker" value="<?php if(!empty($start_time)): echo date('Y-m-d',$start_time); endif; ?>" size="50">
                        </td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td style="background-color:#f1f5f8; width:40%">
                            截止时间
                        </td>
                        <td>
                            &nbsp;
                            <input name="end_time" class="text datepicker" value="<?php if(!empty($end_time)): echo date('Y-m-d',$end_time); endif; ?>" size="50">
                        </td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td style="background-color:#f1f5f8; width:40%">
                            状态
                        </td>
                        <td>
                            &nbsp;
                            <select name="status">
                                <option value='' <if condition="$status eq ''">selected</if>>
                                    >不限
                                </option>
                                <option value="0" <if condition="$status eq '0'">selected</if>>
                                    >删除
                                </option>
                                <option value="1" <if condition="$status eq '1'">selected</if>>
                                    >通过
                                </option>
                                <option value="2" <if condition="$status eq '2'">selected</if>>
                                    >申请中
                                </option>
                                <option value="-1" <if condition="$status eq '-1'">selected</if>>
                                    >未通过
                                </option>
                            </select>
                        </td>
                    </tr>
                </table>
                <center>
                    <input type="submit" value="提 交" class="sunjoin large" />
                </center>
                <div class="clear" style="margin-bottom:5px">
                </div>
            </form>
            <form name='form1' method='post' action='<{:u("user/do_apply")}>' onSubmit='return checkSubmit();'>
                <table border="0" cellspacing="0" cellpadding="0" class="vbm">
                    <tr class="firstr">
                        <td width="30">选择</td>
                        <td width="30">编号</td>
                        <td>姓名</td>
                        <td width="300">单位</td>
                        <td>职务</td>
                        
                        <td>联系方式</td>
                        <td>提交时间</td>
                        <td width="30">审核状态</td>
                    </tr>
                    <tbody>
                    	<foreach name="list" item="vo">
                        <tr align="center" bgcolor="white">
                            <td><input type='checkbox' name='ids[]' value='<{$vo.id}>' class='checkbox' id="<{$vo.id}>"></td>
                            <td><{$vo.uid}></td>
                            <td><a href="javascript:void(0);" onclick="javascript:;"><{$vo.name}></a></td>
                            <td><a href="javascript:void(0);" onclick="javascript:;"><{$vo.company}></a></td>
                            <td><a href="javascript:void(0);" onclick="javascript:;"><{$vo.position}></a></td>
                            <td><a href="javascript:void(0);" onclick="javascript:;"><{$vo.phone}></a></td>
                            <td><?php echo date('Y-m-d H:i',$vo['add_time'])?></td>
                            <td><a href="javascript:;">
                                <switch name="vo.status">
                                    <case value='0'>删除</case>
                                    <case value='1'>通过</case>
                                    <case value='2'>申请中</case>
                                    <default/>
                                </switch>
                            </a></td>
                        </tr>
                        </foreach>
                    </tbody>
                    <tr bgcolor="#ffffff" height="28">
                        <td style="border-right:1px #fff solid;">
                            <input type="checkbox" id="checkall" onClick="CheckAll(this.form)"
                            class="checkbox" />
                        </td>
                        <td colspan="10">
                                <b>
                                    设为->
                                </b>
                                <input name='status' value='0' type='radio'>
                                    删除
                                <input name='status' value='1' type='radio'>
                                    通过
                                <input name='status' value='2' type='radio'>
                                    申请中
                                <input name='status' value='-1' type='radio'>
                                    未通过
                        </td>
                    </tr>
                </table>
                <center>
                    <input type="submit" value="提 交" class="sunjoin large" />
                </center>
            </form>
            <div class="pagination">
                <{$page}>
            </div>
<include file="Common:footer" />