<include file="Common:header" />
    <div class="ccc2">
        <ul>
       <input class="sunjoin large" type="button" onClick="location.href='/admin/user/add'" value="添加会员">
        </ul>
    </div>
    <div id="sunjoin">
    <table border="0" cellspacing="0" cellpadding="0" class="vbm">
        <tbody><tr class="firstr">
          <td width="60">ID</td>
          <td>名称</td>
          <td>职位</td>
          <td>公司</td>
          <td>操作</td>
        </tr>
      </tbody>
      <tbody>
        <?php foreach ($list as $vo): ?>
        <tr bgcolor="white">
          <td><label><?=$vo['id']?></label></td>
          <td align="left"><?=$vo['name']?></td>
          <td align="left"><?=$vo['duty']?></td>
          <td align="left"><?=$vo['company']?></td>
          <td align="center"><a href="<{:U('add')}>?id=<?=$vo['id']?>">编辑</a> / <a href="<{:U('delete')}>?id=<?=$vo['id']?>" onclick="if(!confirm('确定要删除吗？\n\n此操作不可以恢复！'))return false;">删除</a>
          </td>
        </tr>
        <?php endforeach ?>
      </tbody>

    </table>
  </div>
    <div class="pagination">
        <{$page}>
    </div>
<include file="Common:footer" />