<include file="Common:header" />
    <div class="ccc2">
        <ul>
       <input class="sunjoin large" type="button" onClick="location.href='/admin/user/add'" value="添加会员">
        </ul>
    </div>
    <div id="sunjoin">
    <table border="0" cellspacing="0" cellpadding="0" class="vbm">
        <tbody><tr class="firstr">
          <td width="60">ID</td>
          <td>名称</td>
          <td>类型</td>
          <td>职位</td>
          <td>公司</td>
          <td>操作</td>
        </tr>
      </tbody>
      <tbody>
        <?php foreach ($list as $vo): ?>
        <tr bgcolor="white">
          <td><label><?=$vo['id']?></label></td>
          <td align="left"><?=$vo['name']?></td>
          <td align="left">
          <?php
            $url = U('index')."?type=".$vo['type'];
            if($vo['type']==1) echo "<a href=".$url.">顾问</a>";
            elseif($vo['type']==2) echo "<a href=".$url.">专家</a>";
            elseif($vo['type']==3) echo "<a href=".$url.">领导</a>";
            else echo "<a href=".$url.">会员</a>";
          ?>
            <!-- <if condition="$list['type'] eq 3">领导
            <elseif condition="$list['type'] eq 1">顾问
            <elseif condition="$list['type'] eq 2">专家
            <else />会员
            </if> -->
          </td>
          <td align="left"><?=$vo['duty']?></td>
          <td align="left"><?=$vo['company']?></td>
          <td align="center"><a href="<{:U('News/index')}>?user_id=<?=$vo['id']?>&user_news_type=1">动态</a> / <a href="<{:U('News/index')}>?user_id=<?=$vo['id']?>&user_news_type=2">报道</a> / <a href="<{:U('add')}>?id=<?=$vo['id']?>">编辑</a> / <a href="<{:U('delete')}>?id=<?=$vo['id']?>" onclick="if(!confirm('确定要删除吗？\n\n此操作不可以恢复！'))return false;">删除</a>
          </td>
        </tr>
        <?php endforeach ?>
      </tbody>

    </table>
  </div>
    <div class="pagination">
        <{$page}>
    </div>
<include file="Common:footer" />